<header>
    <nav class="navbar navbar-expand-lg bg-white header-reverse" data-header-hover="light">
        <div class="container-fluid">
            <div class="col-auto col-lg-2 me-lg-0 me-auto">
                <a class="navbar-brand p-10px" href="home">
                    <img src="assets/images/logo.png" data-at2x="assets/images/logo.png" alt="" class="default-logo">
                    <img src="assets/images/logo.png" data-at2x="assets/images/logo.png" alt="" class="alt-logo">
                    <img src="assets/images/logo.png" data-at2x="assets/images/logo.png" alt="" class="mobile-logo">
                </a>
            </div>
            <div class="col-auto menu-order">
                <button class="navbar-toggler float-start" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="oncology-consultation" class="nav-link">Oncology Consultation</a>
                        </li>
                        <li class="nav-item"><a href="daycarechemotherapy" class="nav-link">Daycare chemotheraphy</a>
                        </li>
                        <li class="nav-item dropdown dropdown-with-icon">
                            <a href="javascripit:void(0)" class="nav-link">Other Cancer Treatements</a>
                            <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a href="targetedtherapy">Targeted Chemotheraphy</a></li>
                                <li><a href="immunotherapy">Immunotherapy</a></li>
                                <li><a href="cancerscreening">Cancer Screening</a></li>
                                <li><a href="cancer-vaccination">Cancer Vaccination</a></li>
                                <li><a href="genetic-counselling">Genetic Counselling</a></li>
                                <li><a href="pain-and-palliative-care">Pain & Palliative care</a></li>
                                <li><a href="psycho-oncology-consultation">Psycho Oncology Consultation</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="about-doctor" class="nav-link">About Doctor</a></li>
                        <li class="nav-item dropdown dropdown-with-icon">
                            <a href="javascripit:void(0)" class="nav-link">Resources</a>
                            <i class="fa-solid fa-angle-down dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a href="facilities">Facilities</a></li>
                                <li><a href="faq">FAQs</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="contact" class="nav-link">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>