<header>
    <nav class="navbar navbar-expand-lg header-light w-100 bg-white">
        <div class="container-fluid">
            <div class="col-auto col-lg-2">
                <a class="navbar-brand" href="home">
                    <img alt class="default-logo" data-at2x="assets/images/logo.png" src="assets/images/logo.png" />
                    <img alt class="alt-logo" data-at2x="assets/images/logo.png" src="assets/images/logo.png" />
                    <img alt class="mobile-logo" data-at2x="assets/images/logo.png" src="assets/images/logo.png" />
                </a>
            </div>
            <div class="col-auto ms-auto md-ms-0 menu-order position-static">
                <button aria-controls="navbarNav" aria-label="Toggle navigation" class="navbar-toggler float-start"
                    data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                    <span class="navbar-toggler-line"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="oncology-consultation">
                                Oncology Consultation
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="daycarechemotherapy">
                                Daycare chemotheraphy
                            </a>
                        </li>
                        <li class="nav-item dropdown dropdown-with-icon-style02">
                            <a class="nav-link" href="javascript:void(0)">
                                Other Cancer Treatements
                            </a>
                            <ul aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="targetedtherapy">
                                        Targeted
                                        Chemotheraphy
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="immunotherapy">
                                        Immunotherapy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="cancerscreening">
                                        Cancer Screening
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="cancer-vaccination">
                                        Cancer Vaccination
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="genetic-counselling">
                                        Genetic Counselling
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="pain-and-palliative-care">
                                        Pain & Palliative care
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="psycho-oncology-consultation">
                                        Psycho Oncology Consultation
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="about-doctor" class="nav-link">About Doctor</a></li>
                        <li class="nav-item dropdown dropdown-with-icon-style02">
                            <a class="nav-link" href="javascript:void(0)">
                                Resources
                            </a>
                            <ul aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="facilities">
                                        Facilities
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="faq">FAQs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact">
                                        Contact
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-auto text-left d-none d-sm-block">
                <div class="header-icon">
                    <div class="header-button">
                        <a class="btn btn-medium btn-switch-text btn-gradient-purple-pink btn-rounded me-10px ls-0px mt-15px mb-15px"
                            href="contact">
                            <span>
                                <span class="btn-double-text fs-15" data-text="Book Appointments">
                                    Book
                                    Appointments
                                </span>
                                <span>
                                    <i class="fa-solid fa-stethoscope"></i>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>