<footer class="p-0 footer-light position-relative"> 
    <div class="container position-relative"> 
        <div class="row justify-content-center pt-5 sm-pt-40px">
           
            <div class="col-6 col-xl-4 col-lg-4 col-sm-6 last-paragraph-no-margin text-xl-start text-lg-center order-sm-1 lg-mb-50px sm-mb-30px">
                <a href="#" class="footer-logo mb-15px d-inline-block"> 
                    <img src="assets/image/logo.png" alt="Logo" style="max-width: 100%; height: auto;">
                    <p class="mt-25px alt-font fs-17">At Noble Cancer Centre, we transform hope into healing with expert care and unwavering compassion."
                    </p>
                    <span class="fw-600 d-block  mt-3 fs-17">Follow us</span>
                    <ul class="elements-social social-icon-style-02 d-flex justify-content-start mt-2 ">
                        <li class="me-3">
                            <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-f" style="color: #4a4a4a;"></i></a>
                        </li>
                        <li class="me-3">
                            <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter "  style="color: #4a4a4a;"></i></a>
                        </li>
                        <li class="me-3">
                            <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"  style="color: #4a4a4a;"></i></a>
                        </li>
                        <li class="me-3">
                            <a href="https://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin-in"  style="color: #4a4a4a;"></i></a>
                        </li>
                        <li class="me-3">
                            <a href="mailto:noblecancercare@gmail.com" target="_blank"><i class="fa-solid fa-envelope"  style="color: #4a4a4a;"></i></a>
                        </li>
                    </ul>
                </a>
            </div>
            <div class="col-6 col-xl-4 col-lg-4 col-md-5 col-sm-4 xs-mb-30px order-sm-4 order-lg-3">
                <span class="fw-600 d-block text-dark-gray mb-5px fs-30">Specialized Services</span>
                <ul class=" alt-font fs-17">
                    <li><i class="fas fa-angle-double-right"></i> <a href="#"> Oncology Consultation</a></li>
                    <li><i class="fas fa-angle-double-right"></i> <a href="#"> Day Care Chemotherapy</a></li>
                    <li><i class="fas fa-angle-double-right"></i> <a href="#"> Targeted Therapy</a></li>
                    <li><i class="fas fa-angle-double-right"></i> <a href="#"> Immunotherapy</a></li>
                    <li><i class="fas fa-angle-double-right"></i> <a href="#"> Pain & Palliative Care</a></li>
                    <li><i class="fas fa-angle-double-right"></i> <a href="#"> Screening for Cancers</a></li>
                    <li><i class="fas fa-angle-double-right"></i> <a href="#"> Psycho-oncology Consultation</a></li>
                    <li><i class="fas fa-angle-double-right"></i> <a href="#"> Cancer Vaccination</a></li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-4 col-sm-6 md-mb-50px sm-mb-30px xs-mb-0 order-sm-2 order-lg-5">
                <span class="fw-600 d-block text-dark-gray mb-5px fs-30">Our Location</span>
                <p class="lh-28 w-95 mb-10px xs-mb-10px alt-font">Visit us at our center for any queries or assistance:</p>
                <iframe 
                    src="https://maps.google.com/maps?q=ypHtSwAvZEpzdzM88&t=&z=13&ie=UTF8&iwloc=&output=embed" 
                    width="100%" 
                    height="200" 
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 justify-content-center mt-25px fs-17 " data-anime='{ "el": "childs", "willchange": "transform", "perspective": [1200,1200], "translateY": [0, 0], "scale": [1.1, 1], "rotateX": [30, 0], "opacity": [0,1], "duration": 1000, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <div class="col sm-mb-30px">
                <div class="bg-white border-radius-6px text-center box-shadow-quadruple-large box-shadow-quadruple-large-hover">
                    <div>
                        <img src="assets/image/home/email.png" class="h-40px md-h-35px sm-h-40px" alt="" />
                        <a href="mailto:noblecancercare@gmail.com" class="text-dark-gray fw-600 alt-font"> noblecancercare@gmail.com</a>
                        <p><span class="fw-600 text-dark-gray">Drop Us A Line</span></p>
                    </div>   
                </div>
            </div>
            <div class="col sm-mb-30px">
                <div class="bg-white  border-radius-6px text-center box-shadow-quadruple-large box-shadow-quadruple-large-hover">
                    <div >
                        <img src="assets/image/home/phone.png" class="h-40px md-h-35px sm-h-40px" alt="" />
                        <a class="text-dark-gray fw-600 alt-font" href="tel:1235678901">(123) 567 8901</a>
                        <p><span class="fw-600 text-dark-gray">Call Us Directly</span></p>
                    </div>
                  
                </div>
            </div>
            <div class="col">
                <div class="bg-white border-radius-6px text-center box-shadow-quadruple-large box-shadow-quadruple-large-hover">
                    <div >
                        <img src="assets/image/home/location.png" class="h-40px md-h-35px sm-h-40px" alt="Phone Icon" />
                     
                            <a class="text-dark-gray  fw-600 alt-font" href="https://www.google.com/maps/place/103+Transbay,+Balewadi,+Pune" target="_blank">
                                No-10, First Street, Rajappa Nagar, (Opposite to Apex Heart Hospital) Thanjavur - 613 007
                            </a>
                            <p><span class="fw-600 text-dark-gray">Visit Us</span></p>
                    </div>    
                </div>
            </div>
        </div>
        

        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray"></div>
            </div>
            <div class="col-lg-5 pt-20px pb-20px md-pt-0 order-2 order-lg-1 text-center text-lg-start last-paragraph-no-margin fs-14">
                <p>&copy; 2024 Noble Cancer Care. All Rights Reserved.</p>
            </div>
            <div class="col-lg-7 pt-20px pb-20px md-pt-25px md-pb-5px order-1 order-lg-2 text-center text-lg-end fs-14">
                <ul class="footer-navbar sm-lh-normal"> 
                    <li><a href="#" class="nav-link">Privacy Policy</a></li>
                    <li><a href="#" class="nav-link">Terms and Conditions</a></li>
                    <li><a href="#" class="nav-link">Copyright</a></li>
                </ul>
            </div>
        </div>
    </div> 
</footer>
