<footer class="p-0 footer-light position-relative">
    <div class="container position-relative">
        <div class="row justify-content-center pt-5 sm-pt-40px">
            <div class="col-12 col-xl-4 col-lg-4 col-md-4 col-sm-12 sm-mb-30px ps-5 pe-5">
                <a href="#" class="footer-logo d-inline-block">
                    <img src="assets/images/logo.png" alt="" class="mb-20px">
                </a>
                <p class="fs-18 fw-500 text-dark-gray mb-20px sm-mb-30px">
                    At Noble Cancer Centre, we transform hope into healing with expert care and unwavering compassion.
                </p>
                
                <span class="fw-600 d-block text-base-color mb-5px fs-30 alt-font">Follow us</span>
                <ul class="elements-social social-icon-style-02 d-flex justify-content-start mt-2 ">
                    <li class="me-3">
                        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"
                                style="color: #4a4a4a;"></i></a>
                    </li>
                    <li class="me-3">
                        <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter "
                                style="color: #4a4a4a;"></i></a>
                    </li>
                    <li class="me-3">
                        <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"
                                style="color: #4a4a4a;"></i></a>
                    </li>
                    <li class="me-3">
                        <a href="https://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin-in"
                                style="color: #4a4a4a;"></i></a>
                    </li>
                    <li class="me-3">
                        <a href="mailto:noblecancercare@gmail.com" target="_blank"><i class="fa-solid fa-envelope"
                                style="color: #4a4a4a;"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-xl-4 col-lg-4 col-md-4 col-sm-12 sm-mb-30px ps-5 pe-5">
                <span class="fw-600 d-block text-base-color mb-5px fs-30 alt-font">Qucik Links</span>
                <ul>
                    <li><i class="fas fa-angle-double-right me-10px"></i> <a href="oncology-consultation" class="fs-18 fw-500 text-dark-gray"> Oncology Consultation</a></li>
                    <li><i class="fas fa-angle-double-right me-10px"></i> <a href="daycarechemotherapy" class="fs-18 fw-500 text-dark-gray"> Day Care Chemotherapy</a></li>
                    <li><i class="fas fa-angle-double-right me-10px"></i> <a href="targetedtherapy" class="fs-18 fw-500 text-dark-gray"> Targeted Therapy</a></li>
                    <li><i class="fas fa-angle-double-right me-10px"></i> <a href="immunotherapy" class="fs-18 fw-500 text-dark-gray"> Immunotherapy</a></li>
                    <li><i class="fas fa-angle-double-right me-10px"></i> <a href="cancerscreening" class="fs-18 fw-500 text-dark-gray"> Cancer Screening</a></li>
                    <li><i class="fas fa-angle-double-right me-10px"></i> <a href="cancer-vaccination" class="fs-18 fw-500 text-dark-gray"> Cancer Vaccination</a></li>
                    <li><i class="fas fa-angle-double-right me-10px"></i> <a href="genetic-counselling" class="fs-18 fw-500 text-dark-gray"> Genetic Counselling </a></li>
                    <li><i class="fas fa-angle-double-right me-10px"></i> <a href="pain-and-palliative-care" class="fs-18 fw-500 text-dark-gray"> Pain & Palliative Care</a></li>
                    <li><i class="fas fa-angle-double-right me-10px"></i> <a href="psycho-oncology-consultation" class="fs-18 fw-500 text-dark-gray"> Psycho-oncology Consultation</a></li>
                </ul>                
            </div>
            <div class="col-12 col-xl-4 col-lg-4 col-md-4 col-sm-12 sm-mb-30px ps-5 pe-5">
                <span class="fw-600 d-block text-base-color mb-5px fs-30 alt-font">Our Location</span>
                <p class="fs-18 fw-500 text-dark-gray">Visit us at our center for any queries or assistance: </p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4692989895225!2d79.12636239999999!3d10.7753231!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baab9d993c64cbb%3A0x739b3615335618b2!2sNOBLE%20CANCER%20CHEMOTHERAPY%20CENTER!5e0!3m2!1sen!2sin!4v1738591707783!5m2!1sen!2sin"
                    width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>
    <div class="container position-relative mt-30px">
        <div class="row row-cols-1 row-cols-lg-3 justify-content-center"
            data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <div class="col icon-with-text-style-02 transition-inner-all mb-30px">
                <div
                    class="feature-box feature-box-left-icon-middle text-start hover-box dark-hover bg-dark-slate-blue border-radius-8px p-20px overflow-hidden last-paragraph-no-margin">
                    <div class="feature-box-icon">
                        <i class="line-icon-Envelope-2 icon-double-large text-white"></i>
                    </div>
                    <div class="feature-box-content">
                        <span class="d-inline-block fs-18 text-white fw-500 mb-5px">Drop Us A Line </span>
                        <p class="text-light-opacity">{{emailContact}}</p>
                    </div>
                    <div class="feature-box-overlay bg-cornflower-blue"></div>
                </div>
            </div>
            <div class="col icon-with-text-style-02 transition-inner-all mb-30px">
                <div
                    class="feature-box feature-box-left-icon-middle text-start hover-box dark-hover bg-dark-slate-blue border-radius-8px p-20px overflow-hidden last-paragraph-no-margin">
                    <div class="feature-box-icon">
                        <i class="line-icon-Phone-2 icon-double-large text-white"></i>
                    </div>
                    <div class="feature-box-content">
                        <span class="d-inline-block fs-18 text-white fw-500 mb-5px">Call Us Directly </span>
                        <p class="text-light-opacity">+91 99620 02447</p>
                    </div>
                    <div class="feature-box-overlay bg-cornflower-blue"></div>
                </div>
            </div>
            <div class="col icon-with-text-style-02 transition-inner-all md-mb-30px">
                <div
                    class="feature-box feature-box-left-icon-middle text-start hover-box dark-hover bg-dark-slate-blue border-radius-8px p-20px overflow-hidden last-paragraph-no-margin">
                    <div class="feature-box-icon">
                        <i class="line-icon-Location-2 icon-double-large text-white"></i>
                    </div>
                    <div class="feature-box-content">
                        <span class="d-inline-block fs-18 text-white fw-500 mb-5px">Visit Us </span>
                        <p class="text-light-opacity"> Rajappa Nagar, Thanjavur</p>
                    </div>
                    <div class="feature-box-overlay bg-cornflower-blue"></div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="row justify-content-center align-items-center mt-10px mb-10px">
    <div class="col-12">
        <div class="divider-style-03 mt-10px divider-style-03-01 border-color-extra-medium-gray"></div>
    </div>
    <div class="col-lg-6 text-center text-lg-start fs-14">
        <p class="fs-17 mb-0">&copy; 2024 Noble Cancer Care. All Rights Reserved.</p>
    </div>
    <div class="col-lg-6 text-center text-lg-end fs-14">
        <p class="fs-17 mb-0">Designed and Developed by
            <a href="https://godparticles.co.in/" target="_blank" style="color: teal">God Particles</a>
        </p>
    </div>
</div>