<app-pagebanner [pagetitle]="pagetitle"></app-pagebanner>
<section class="pt-40px pb-40px sm-pb-0 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-lg-8 order-1 order-lg-2 md-mb-50px" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <h3 class="fw-600 alt-font text-base-color shadow-none fs-50" data-shadow-animation="true" data-animation-delay="1500">
                    Empowering Your Journey with Pain and Palliative Care for
                    <span class="text-dark-gray">Improved Comfort and Quality of Life</span>
                </h3>

                <p class="fs-18 text-dark-gray fw-400">
                    Pain and palliative care focuses on managing symptoms and providing relief to cancer patients, addressing both physical
                    pain and emotional distress. This care ensures that patients maintain the best quality of life during their treatment
                    journey.
                </p>
                <p class="fs-18 text-dark-gray fw-400">
                    By combining medical treatments, psychological support, and other therapies, pain and palliative care reduces suffering
                    and helps patients cope with challenges. This holistic approach provides comfort and emotional support for both patients
                    and their families.
                </p>

                <img src="assets/images/services/8.jpg" class="mb-20px" alt="daycare" />
                <app-widget-service></app-widget-service>

                <div class="h-1px w-100 bg-extra-medium-gray mt-4 mb-4"></div>

                <div class="bg-light p-6 mt-6 mb-9 border-radius-6px">
                    <div class="row">
                        <div class="col-md-12 pe-5 lg-pe-15px mb-4">
                            <h5 class="text-dark-gray fw-600 mb-8">Pain And Palliative Care at Noble</h5>
                            <ul class="p-0 m-0 list-style-02 text-dark-gray fs-18 text-gray fw-400 primary-font">
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-check fs-15 me-10px"></i>
                                    <p><strong>Patient Education and Support:</strong> HCG educates patients and families on pain
                                        management and available support services, empowering them to manage symptoms effectively at
                                        home.</p>
                                </li>
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-check fs-15 me-10px"></i>
                                    <p><strong>Multidisciplinary Care Approach:</strong> HCG’s team of doctors, nurses, and
                                        psychologists collaborate to create personalized pain and palliative care plans tailored to each
                                        patient’s needs.</p>
                                </li>
                                <li class="pb-10px">
                                    <i class="fa-solid fa-check fs-15 me-10px"></i>
                                    <p><strong>Pain Relief Solutions:</strong> HCG’s palliative care clinic utilizes medications, nerve
                                        blocks, and non-pharmacological therapies like acupuncture and relaxation to manage pain.</p>
                                </li>
                                <li class="pb-10px">
                                    <i class="fa-solid fa-check fs-15 me-10px"></i>
                                    <p><strong>Quality of Life Enhancement:</strong> HCG’s care focuses on managing symptoms like pain
                                        and fatigue, offering emotional support, and assisting with advance care planning.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="h-1px w-100 bg-extra-medium-gray mt-4 mb-4"></div>
                <h3 class="fw-600 alt-font text-base-color shadow-none fs-50" data-shadow-animation="true" data-animation-delay="1500">
                    Medicines Used for
                    <span class="text-dark-gray">Pain Relief</span> in Palliative Care
                </h3>
                <p class="fs-18 text-dark-gray fw-400">
                    <span class="fw-600 text-decoration-line-bottom">1. Opioid medicines</span>
                    Opioids are used for moderate-to-severe pain in cancer patients during palliative care. They work by blocking pain
                    signals in the brain and spinal cord. Available in pills, patches, injections, or liquids, opioids are customized
                    based
                    on the patient’s needs. When combined with non-opioid pain medicines, they offer better pain relief. Although
                    opioids
                    can be addictive, proper management and education ensure they improve quality of life under medical supervision.
                </p>
                <p class="fs-18 text-dark-gray fw-400">
                    <span class="fw-600 text-decoration-line-bottom">2. Helper medicines</span>
                    Helper drugs, or adjuvants, complement opioid pain management in cancer care. These include antidepressants,
                    anticonvulsants, and muscle relaxants, which address symptoms like anxiety, muscle spasms, and mood changes. By
                    reducing
                    opioid reliance and improving pain control, helper drugs enhance overall quality of life and provide comprehensive
                    symptom relief.
                </p>

            </div>
        </div>
    </div>
</section>