<div class="row mt-5 sm-mt-30px"
    data-anime='{ "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 600, "staggervalue": 300, "easing": "easeOutQuad" }'>
    <div class="col-12 text-center">
        <div
            class="d-inline-block bg-purple fw-600 text-white text-uppercase border-radius-30px ps-20px pe-20px fs-12 me-10px sm-m-10px">
            trust</div>
        <div class="d-inline-block align-middle"><span
                class="fs-24 text-pink d-block fw-600 ls-minus-1px mb-0 ">"Believe in those who
                walk with you; their strength becomes yours."</span></div>
    </div>
</div>