<app-pagebanner [pagetitle]="pagetitle"></app-pagebanner>
<section class="overlap-height position-relative">
    <div class="container overlap-gap-section">
        <div class="row">
            <div class="col-lg-4 pe-6 order-2 order-lg-1 lg-pe-4 md-pe-15px"
                data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <div class="position-sticky top-80px lg-top-40px">
                    <div class="mb-30px alt-font">
                        <ul class="p-0 m-0 list-style-02  fw-500">
                            <li class="pb-15px mb-15px">  <a href="#" class="btn btn-extra-large fw-600 btn-rounded with-rounded btn-white btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto">Immuno Theraphy<span class="bg-dark-gray text-white"><i class="fa-solid fa-arrow-right"></i></span></a></li>
                            <li class="pb-15px mb-15px">  <a href="#" class="btn btn-extra-large fw-600 btn-rounded with-rounded btn-white btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto">Targted Theraphy<span class="bg-dark-gray text-white"><i class="fa-solid fa-arrow-right"></i></span></a></li>
                            <li class="pb-15px mb-15px">  <a href="#" class="btn btn-extra-large fw-600 btn-rounded with-rounded btn-white btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto">Pain & Palliative care<span class="bg-dark-gray text-white"><i class="fa-solid fa-arrow-right"></i></span></a></li>
                            <li class="pb-15px mb-15px">  <a href="#" class="btn btn-extra-large fw-600 btn-rounded with-rounded btn-white btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto">Screening for Cancers <span class="bg-dark-gray text-white"><i class="fa-solid fa-arrow-right"></i></span></a></li>
                            <li class="pb-15px mb-15px">  <a href="#" class="btn btn-extra-large fw-600 btn-rounded with-rounded btn-white btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto">Psycho-oncology Consultation<span class="bg-dark-gray text-white"><i class="fa-solid fa-arrow-right"></i></span></a></li>
                            <li class="pb-15px mb-15px">  <a href="#" class="btn btn-extra-large fw-600 btn-rounded with-rounded btn-white btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto">Cancer Vaccination<span class="bg-dark-gray text-white"><i class="fa-solid fa-arrow-right"></i></span></a></li>
                        </ul>
                    </div>
                    <div
                        class="ps-14 pe-14 pt-10 pb-10 lg-p-25px bg-dark-gray border-radius-6px text-center text-lg-start">
                        <span class="fs-24 fw-500 text-white mb-10px d-inline-block">Open to Discover Hope</span>
                        <p class="text-white mb-15px alt-font fs-17">
                            Every page promises innovation, expert care, and unwavering support. Open to see how we’re transforming cancer care.
                        </p>
                        <a href="assets/brochure.pdf" download
                            class="btn btn-extra-large btn-switch-text btn-gradient-purple-pink btn-rounded ls-0px mt-15px">
                            <span>
                                <span class="btn-double-text alt-font fs-17 align" data-text="Download">Download</span>
                                <span><i class="fa-solid fa-download"></i></span>
                            </span>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-lg-8 order-1 order-lg-2 md-mb-50px"
                data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
               
                <h3 class="fs-50 fw-600 text-dark-gray ls-minus-1px shadow-none" data-shadow-animation="true"
                data-animation-delay="1500"><span class="text-highlight fw-800">Empowering Your recovery with precision and convenience<span
                        class="bg-gradient-emerald-blue-emerald-green h-8px bottom-10px opacity-6 separator-animation"></span></span></h3>
                        <p class="alt-font fs-17"> Day Care Chemotherapy is a modern and patient-centered approach to
                            cancer treatment, designed to deliver chemotherapy sessions in a outpatient
                            setting. This treatment allows patients to receive the same high-quality care as inpatient
                            chemotherapy but with<strong class="text-dark-gray">  added benefit of returning home the
                            same day. </strong></p>
                  
                  
                        <p class="alt-font fs-17">Unlike traditional inpatient chemotherapy, where hospitalization is
                            required for extended periods, day care chemotherapy offers a convenient, cost-effective
                            solution that minimizes disruption to daily life. With shorter treatment durations and
                            tailored care, patients can focus on recovery<strong class="text-dark-gray"> while
                                maintaining their routines and comfort.</strong> </p>
                
                
                <div class="mb-6 sm-mb-35px last-paragraph-no-margin">
                    <img src="assets/image/services/1.png" class="mb-20px" alt="daycare">
                    <div class="px-3">
                        <p class="text-dark-gray alt-font fs-17 lh-30">
                            At our facility, we prioritize safety, comfort, and expert supervision, ensuring that every
                            session is managed by highly skilled oncologists and nursing staff. With state-of-the-art
                            equipment, a serene environment, and a compassionate team, we make your treatment journey as
                            smooth and supportive as possible.
                        </p>
                    </div>
                    <div class="row mt-5 sm-mt-30px"
                    data-anime='{ "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 600, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <div class="col-12 text-center">
                        <div
                            class="d-inline-block bg-purple fw-600 text-white text-uppercase border-radius-30px ps-20px pe-20px fs-12 me-10px sm-m-10px">
                            trust</div>
                        <div class="d-inline-block align-middle"><span
                                class="fs-24 text-pink d-block fw-600 ls-minus-1px mb-0 ">"Believe in those who
                                walk with you; their strength becomes yours."</span></div>
                    </div>
                </div>
                    <div class="h-1px w-100 bg-extra-medium-gray mt-4 mb-4"></div>
                </div>

                <h3 class="fw-600 text-dark-gray shadow-none fs-50" data-shadow-animation="true"
                    data-animation-delay="1500"><span class="text-highlight fw-800 ">Benefits Of Day Care
                        Chemeotherapy<span
                            class="bg-gradient-emerald-blue-emerald-green h-8px bottom-10px opacity-6 separator-animation"></span></span>
                </h3>
                <div class="bg-light p-6 mt-6 mb-9 border-radius-6px">
                    <div class="row align-items-center">
                        <div class="col-md-6 pe-5 lg-pe-15px md-mb-20px">
                            <ul class="p-0 m-0 list-style-02 text-dark-gray fs-17 alt-font">
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-check me-10px"></i>
                                    Convenience and Flexibility: Offers treatment with the ease of returning home the same day.
                                </li>
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-check me-10px"></i>
                                    Cost-Effective Care: Eliminates expenses associated with overnight hospital stays.
                                </li>
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-check me-10px"></i>
                                    Comfortable Environment: Provides a serene and patient-friendly outpatient setting.
                                </li>
                                <li class="pb-10px">
                                    <i class="fa-solid fa-check me-10px"></i>
                                    Expert Supervision: Ensures safe, personalized care by skilled oncologists and nurses.
                                </li>
                            </ul>
                            
                        </div>
                        <div class="col-md-6">
                            <img src="assets/image/services/3.png" alt="Day Care Chemotherapy" style="border-radius: 10% 30% 50% 70%;"/>
                        </div>
                    </div>
                </div>

                <h3 class="fs-50 fw-600 text-dark-gray ls-minus-1px shadow-none" data-shadow-animation="true"
                    data-animation-delay="1500">Types Of<span class="text-highlight fw-800"> Chemeotherapy<span
                            class="bg-gradient-emerald-blue-emerald-green h-8px bottom-10px opacity-6 separator-animation"></span></span>
                </h3>
                <p class="alt-font fs-17"><span class="fw-600 text-dark-gray text-decoration-line-bottom ">Adjuvant Therapy</span> - Adjuvant therapy is given after primary treatments like surgery or radiation. It aims to destroy remaining cancer cells that might lead to recurrence. This approach enhances the chances of long-term remission and recovery.</p>
                <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px"></div>
                <p class="alt-font fs-17"><span class="fw-600 text-dark-gray text-decoration-line-bottom">Curative Therapy</span> - Curative therapy focuses on completely eradicating cancer and preventing its return. Often combined with surgery or radiation, it is used for early-stage cancers where remission is achievable. This method is tailored to aggressively target the disease for a full cure.</p>
                <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px"></div>
                <p class="alt-font fs-17"><span class="fw-600 text-dark-gray text-decoration-line-bottom">Neoadjuvant Therapy</span> - Neoadjuvant therapy is administered before surgery or radiation to shrink tumors. This method makes surgical removal easier and more effective while reducing the invasiveness of the procedure. It also provides insight into how the tumor responds to treatment.</p>
                <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px"></div>
                <p class="alt-font fs-17"> <span class="fw-600 text-dark-gray text-decoration-line-bottom">Palliative Therapy</span> - Palliative therapy aims to improve the quality of life for patients with advanced-stage cancer. It reduces tumor size and alleviates symptoms like pain and discomfort. This method focuses on providing relief rather than achieving a cure.</p>
                <div class="bg-light-2 p-6 mt-6 mb-9 border-radius-6px">
                    <div class="row">
                        <div class="col-md-6 pe-5 lg-pe-15px mb-4">
                            <h5 class="text-dark-gray fw-600 mb-8">Benefits of Chemotherapy</h5>
                            <ul class="p-0 m-0 list-style-02 text-dark-gray alt-font fs-17">
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-check me-10px"></i>
                                    Reduces tumor size and slows cancer growth, extending life
                                </li>
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-check me-10px"></i>
                                    Makes certain cancers more amenable to surgical removal.
                                </li>
                                <li class="pb-10px">
                                    <i class="fa-solid fa-check me-10px"></i>
                                    Reduces the risk of cancer recurrence post-surgery.
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h5 class="text-dark-gray fw-600 mb-8">Downsides of Chemotherapy</h5>
                            <ul class="p-0 m-0 list-style-02 text-dark-gray alt-font fs-17">
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-xmark me-10px"></i>
                                    Can cause various short-term and long-term side effects.
                                </li>
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-xmark me-10px"></i>
                                    Frequent hospital visits for treatment and tests can be exhausting.
                                </li>
                                <li class="pb-10px">
                                    <i class="fa-solid fa-xmark  me-10px"></i>
                                    The effectiveness of chemotherapy varies among individuals.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="bg-light p-35px border-radius-6px mt-9">
                    <h3 class="fs-50 fw-600 text-dark-gray ls-minus-1px shadow-none" data-shadow-animation="true"
                    data-animation-delay="1500">Potential  <span class="text-highlight fw-800">Side Effects<span
                            class="bg-gradient-emerald-blue-emerald-green h-8px bottom-10px opacity-6 separator-animation"></span></span>
                </h3>
                    <div class="row align-items-center justify-content-center justify-content-lg-start alt-font fs-17">
                        <div class="row row-cols-1 row-cols-sm-3">
                            <div class="col">
                                <ul class="p-0 m-0 list-style-02">
                                    <li class="pb-5px"><i class="fa-solid fa-plus me-10px"></i>Hair loss
                                    </li>
                                    <li class="pb-5px"><i class="fa-solid fa-plus me-10px"></i>breathing issues
                                    </li>
                                    <li class="pb-5px"><i class="fa-solid fa-plus me-10px"></i>diarrhea</li>
                                    <li class="pb-5px"><i class="fa-solid fa-plus me-10px"></i>constipation</li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="p-0 m-0 list-style-02">
                                    <li class="pb-5px"><i class="fa-solid fa-plus me-10px"></i>nausea
                                    </li>
                                    <li class="pb-5px"><i class="fa-solid fa-plus me-10px"></i>vomiting</li>
                                    <li class="pb-5px"><i class="fa-solid fa-plus me-10px"></i> loss of appetite
                                    </li>
                                    <li class="pb-5px"><i class="fa-solid fa-plus me-10px"></i>excessive bleeding</li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="p-0 m-0 list-style-02">
                                    <li class="pb-5px"><i class="fa-solid fa-plus me-10px"></i>weakened immune system
                                    </li>
                                    <li class="pb-5px"><i class="fa-solid fa-plus me-10px"></i>mouth sores</li>
                                    <li class="pb-5px"><i class="fa-solid fa-plus me-10px"></i> hypersensitivity,
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            
            </div>
        </div>
    </div>

</section>
<section class="overflow-hidden">
    <div class="container">
        <div class="row mb-7 justify-content-center">
            <div class="col-lg-4 md-mb-60px sm-mb-45px text-center text-lg-start"
                data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                <h3 class="fw-600 text-dark-gray ls-minus-1px shadow-none" data-shadow-animation="true"
                    data-animation-delay="1500">Chemeotherapy <span class="text-highlight fw-800">Treatment Methods<span
                            class="bg-gradient-emerald-blue-emerald-green h-8px bottom-10px opacity-6 separator-animation"></span></span>
                </h3>
                <p class="xl-w-100 alt-font fs-17">Chemotherapy is a cornerstone cancer treatment often combined with surgery or radiation. From infusions and pills to localized and direct tumor applications, it’s tailored to individual needs.</p>
                <p class="xl-w-100 alt-font fs-17">We’re Here for You !!<br>
                    Schedule your consultation today to explore which chemotherapy method is right for you.</p>
                    <a href="#treatment-options" class="btn btn-medium btn-switch-text btn-gradient-purple-pink btn-rounded me-10px ls-0px mt-15px mb-15px fs-17">
                        <span>
                            <span class="btn-double-text alt-font" data-text="Book Appointments">Book Appointments</span>
                            <span><i class="fa-solid fa-stethoscope"></i></span>
                        </span>
                    </a>
            </div>
            <div class="col-lg-8 alt-font fs-17">
                <div class="row row-cols-1 row-cols-md-2 justify-content-center"
                    data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon">
                                <i class="fa-solid fa-syringe icon-extra-large text-base-color"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 text-dark-gray d-block mb-5px">Chemotherapy Infusions</span>
                                <p>Administered through a vein infusion (intravenously), using a needle inserted into a
                                    vein in the arm or chest.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon">
                                <i class="fa-solid fa-capsules icon-extra-large text-base-color"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 text-dark-gray d-block mb-5px">Oral Chemotherapy</span>
                                <p>Pills and capsules containing chemotherapy drugs can be taken orally for some
                                    treatments.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 sm-mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon">
                                <i class="fa-solid fa-vial icon-extra-large text-base-color"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 text-dark-gray d-block mb-5px">Chemotherapy Injections</span>
                                <p>Medications are injected directly into the vein, similar to how a shot is
                                    administered.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon">
                                <i class="fa-solid fa-pump-soap icon-extra-large text-base-color"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 text-dark-gray d-block mb-5px">Chemotherapy Creams</span>
                                <p>Creams or gels containing chemotherapy drugs are applied to treat certain skin
                                    cancers.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon">
                                <i class="fa-solid fa-heart-pulse icon-extra-large text-base-color"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 text-dark-gray d-block mb-5px">Localized Chemotherapy</span>
                                <p>Administered directly to a specific body part, such as the abdomen (intraperitoneal),
                                    chest cavity, or central nervous system.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon">
                                <i class="fa-solid fa-dna icon-extra-large text-base-color"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 text-dark-gray d-block mb-5px">Direct Tumor
                                    Administration</span>
                                <p>Chemotherapy drugs are applied directly to the cancer site or surgical site for
                                    targeted treatment.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-cta></app-cta>