<app-pagebanner [pagetitle]="pagetitle"></app-pagebanner>

<section class="pt-40px pb-40px bg-very-light-gray position-relative">
    <div class="container">
        <div class="row mb-8">
            <div class="col-xl-5 col-lg-6 md-mb-50px"
                data-anime='{ "el": "childs", "translateX": [-50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <div class="bg-white border-radius-6px box-shadow-quadruple-large p-10 ps-12 pe-12 lg-ps-8 lg-pe-8 h-100 d-flex flex-wrap flex-column justify-content-center"
                    data-anime='{ "el": "childs", "translateY": [0, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                    <span
                        class="ps-25px pe-25px mb-20px text-uppercase text-base-color fs-12 lh-40 fw-700 border-radius-100px bg-gradient-very-light-gray-transparent d-inline-flex align-self-start"><i
                            class="bi bi-chat-square-dots fs-16 me-5px"></i>Lets's work together</span>
                    <h4 class="text-dark-gray ls-minus-1px fw-700 mb-15px">Ready to help you!</h4>
                    <p class="w-85 sm-w-100">We're here to help and answer any question you might have.</p>
                    <div class="row row-cols-1 ">
                        <div class="col icon-with-text-style-08 mb-25px">
                            <div
                                class="feature-box feature-box-left-icon-middle border-bottom pb-25px border-color-extra-medium-gray">
                                <div class="feature-box-icon me-25px xs-me-15px lh-0px">
                                    <i class="fa-solid fa-phone-volume icon-medium text-base-color"></i>
                                </div>
                                <div class="feature-box-content">
                                    <span class="alt-font fs-18 fw-500">Feel free to get in touch?</span>
                                    <span class="d-block fw-600 fs-20"><a href="tel:+917418458508"
                                            class="text-dark-gray">+91 74184 58508</a></span>
                                    <span class="d-block fw-600 fs-20"><a href="tel:+043 6245 8508                                         "
                                            class="text-dark-gray">+043 6245 8508</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col icon-with-text-style-08 mb-25px">
                            <div
                                class="feature-box feature-box-left-icon-middle border-bottom pb-25px border-color-extra-medium-gray">
                                <div class="feature-box-icon me-25px xs-me-15px lh-0px">
                                    <i class="fa-solid fa-envelope icon-medium text-base-color"></i>
                                </div>
                                <div class="feature-box-content">
                                    <span class="alt-font fs-18 fw-500">How can we help you?</span>
                                    <span class="d-block fw-600 fs-20"><a
                                            href="mailto:noblecancercare@gmail.com" class="text-dark-gray">{{emailContact}}</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col icon-with-text-style-08">
                            <div class="feature-box feature-box-left-icon-middle">
                                <div class="feature-box-icon me-25px xs-me-15px lh-0px">
                                    <i class="fa-solid fa-location-dot icon-medium text-base-color"></i>
                                </div>
                                <div class="feature-box-content">
                                    <span class="alt-font fs-18 fw-500">Are you ready for coffee?</span>
                                    <span class="text-dark-gray d-block fw-600 fs-20"> Thangamuthu Anbalayam, 1st St, Rajjappa Nagar, Thanjavur, Tamil Nadu 613007
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6"
                data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <h3 class="text-dark-gray ls-minus-2px fw-700">Looking for any help?</h3>
                <form action="" method="post" class="contact-form-style-03">
                    <label for="exampleInputEmail1"
                        class="form-label fs-13 text-uppercase text-dark-gray fw-700 mb-0">Enter your name*</label>
                    <div class="position-relative form-group mb-20px">
                        <span class="form-icon"><i class="bi bi-emoji-smile text-dark-gray"></i></span>
                        <input
                            class="fs-15 ps-0 border-radius-0px border-color-dark-gray bg-transparent form-control required"
                            id="exampleInputEmail1" type="text" name="name" placeholder="What's your good name" />
                    </div>
                    <label for="exampleInputEmail1"
                        class="form-label fs-13 text-uppercase text-dark-gray fw-700 mb-0">Email address*</label>
                    <div class="position-relative form-group mb-20px">
                        <span class="form-icon"><i class="bi bi-envelope text-dark-gray"></i></span>
                        <input
                            class="fs-15 ps-0 border-radius-0px border-color-dark-gray bg-transparent form-control required"
                            id="exampleInputEmail2" type="email" name="email" placeholder="Enter your email address" />
                    </div>
                    
                    <label for="exampleInputEmail1"
                        class="form-label fs-13 text-uppercase text-dark-gray fw-700 mb-0">Your message</label>
                    <div class="position-relative form-group form-textarea mb-0">
                        <textarea
                            class="fs-15 ps-0 border-radius-0px border-color-dark-gray bg-transparent form-control"
                            name="comment" placeholder="Describe about your project" rows="3"></textarea>
                        <span class="form-icon"><i class="bi bi-chat-square-dots text-dark-gray"></i></span>
                    </div>
                    <div class="row mt-25px align-items-center">
                        <div class="col-xl-7 col-lg-12 col-sm-7 lg-mb-30px md-mb-0">
                            <p class="mb-0 fs-14 lh-22 text-center text-sm-start">We will never collect information
                                about you without your explicit consent.</p>
                        </div>
                        <div
                            class="col-xl-5 col-lg-12 col-sm-5 text-center text-sm-end text-lg-start text-xl-end xs-mt-25px">
                            <input id="exampleInputEmail3" type="hidden" name="redirect" value="">
                            <button class="btn btn-dark-gray btn-medium btn-round-edge btn-box-shadow submit"
                                type="submit">Send message</button>
                        </div>
                        <div class="col-12 mt-20px mb-0 text-center text-md-start">
                            <div class="form-results d-none"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>