<app-pagebanner [pagetitle]="pagetitle"></app-pagebanner>
<section class="pt-40px pb-40px position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-lg-8 order-1 order-lg-2 md-mb-50px" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <h3 class="fw-600 alt-font text-base-color shadow-none fs-50" data-shadow-animation="true" data-animation-delay="1500">
                    Strengthening Your Resilience with
                    <span class="text-dark-gray">Expert Psycho-Oncology Support</span>
                </h3>

                <p class="fs-18 text-dark-gray fw-400">
                    Psycho-oncology is a specialized field within cancer care that focuses on the emotional, psychological, and social aspects of living with cancer. It provides essential support to patients, their families, and caregivers, helping them manage the psychological challenges associated with a cancer diagnosis. Through therapy and counseling, psycho-oncology addresses issues like anxiety, depression, stress, and emotional well-being, aiming to improve overall quality of life and enhance the effectiveness of cancer treatments.
                </p>

                <img src="assets/images/services/9.jpg" class="mb-20px" alt="daycare" />
                <app-widget-service></app-widget-service>
                <div class="h-1px w-100 bg-extra-medium-gray mt-4 mb-4"></div>

                <div class="bg-light p-6 mt-6 mb-9 border-radius-6px">
                    <div class="row">
                        <div class="col-md-12 pe-5 lg-pe-15px mb-4">
                            <h5 class="text-dark-gray fw-600 mb-8">How Psycho-Oncology Supports Patients</h5>
                            <ul class="p-0 m-0 list-style-02 text-dark-gray fs-18 text-gray fw-400 primary-font">
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-check fs-15 me-10px"></i>
                                    <p><strong>Emotional Support:</strong>Psycho-oncology therapy provides emotional guidance, helping patients process their feelings about cancer and improving communication during treatment.</p>
                                </li>
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-check fs-15 me-10px"></i>
                                    <p><strong>Behavioral Support:</strong>Psycho-oncologists assist patients in adapting to lifestyle changes, managing stress, and developing coping strategies to handle cancer-related challenges.</p>
                                </li>
                                <li class="pb-10px">
                                    <i class="fa-solid fa-check fs-15 me-10px"></i>
                                    <p><strong>Cognitive Support:</strong>This therapy addresses cognitive difficulties such as memory issues, concentration, and decision-making challenges, helping patients manage these aspects effectively.</p>
                                </li>
                                <li class="pb-10px">
                                    <i class="fa-solid fa-check fs-15 me-10px"></i>
                                    <p><strong>Social Support:</strong>Psycho-oncology therapy aids patients in navigating social challenges, improving communication with loved ones, and maintaining healthy social connections during cancer treatment.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h3 class="fw-600 alt-font text-base-color shadow-none fs-50" data-shadow-animation="true" data-animation-delay="1500">Psycho Oncology <span class="text-dark-gray"> Services</span></h3>

                <p class="fs-18 text-dark-gray fw-400">
                    <span class="fw-600 text-decoration-line-bottom">De-addiction Counseling</span> - Psycho-oncology offers comprehensive support for cancer patients struggling with tobacco, alcohol, or substance use, helping them manage mental health while dealing with addiction.
                </p>
                <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px"></div>
                <p class="fs-18 text-dark-gray fw-400">
                    <span class="fw-600 text-decoration-line-bottom">End-of-life Care</span> - In terminal stages, psycho-oncology provides compassionate care, helping patients manage emotions and find peace during the final stages of their journey.
                </p>
                <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px"></div>
                <p class="fs-18 text-dark-gray fw-400">
                    <span class="fw-600 text-decoration-line-bottom">Rehabilitation Counseling</span> - Psycho-oncologists guide cancer survivors in overcoming post-treatment challenges, such as prosthesis use, hair loss, and stoma care, enhancing their quality of life.
                </p>
                <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px"></div>
                <p class="fs-18 text-dark-gray fw-400">
                    <span class="fw-600 text-decoration-line-bottom">Distress Assessment and Evaluation</span> - Psycho-oncology offers detailed emotional distress assessments, providing tailored interventions to manage psychological challenges related to cancer.
                </p>
                <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px"></div>
                <p class="fs-18 text-dark-gray fw-400">
                    <span class="fw-600 text-decoration-line-bottom">Individual Therapy</span> - One-on-one therapy addresses personal emotional struggles, helping patients cope with anxiety, depression, and the uncertainties of cancer.
                </p>
                <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px"></div>
                <p class="fs-18 text-dark-gray fw-400">
                    <span class="fw-600 text-decoration-line-bottom">Stress Management Techniques</span> - Psycho-oncologists teach relaxation therapies, guided imagery, and mindfulness techniques to reduce stress and improve resilience in cancer patients.
                </p>
                <h3 class="fw-600 alt-font text-base-color shadow-none fs-50" data-shadow-animation="true" data-animation-delay="1500">
                    Why Choose Noble for 
                    <span class="text-dark-gray">Psycho Oncology?</span>
                </h3>

                <p class="fs-18 text-dark-gray fw-400">
                    Choosing Noble for psycho-oncology ensures compassionate, patient-centered care that addresses the emotional, psychological, and social challenges of cancer patients. Our experienced team of specialists provides tailored counseling services that support not only patients but also their families and caregivers, helping them navigate the emotional complexities of a cancer diagnosis.
                </p>
                <p class="fs-18 text-dark-gray fw-400">
                    At Noble, we understand the importance of mental well-being during cancer treatment. Our holistic approach focuses on enhancing coping mechanisms, reducing stress, and promoting emotional resilience, ensuring that each patient receives comprehensive support throughout their cancer journey.
                </p>
            </div>
        </div>
    </div>
</section>