
<section data-parallax-background-ratio="0.5" style="background-image:url('assets/images/home/cta.jpg');">
    <div class="container position-relative">
        <div class="row align-items-center justify-content-center">
            <div
                class="col-xxl-12 col-lg-12 position-relative z-index-1 text-center d-flex flex-wrap align-items-center justify-content-center">
                <span
                    class="ps-25px pe-25px pt-5px pb-5px mb-25px text-uppercase text-white fs-12 ls-1px fw-600 border-radius-100px bg-black-transparent-medium d-flex align-items-center text-start sm-lh-20"><i
                        class="bi bi-megaphone text-white d-inline-block align-middle icon-small me-10px "></i>Together,
                    we can create a journey of hope and healing</span>
            </div>
            <div class="col-xl-6 text-center text-xl-start lg-mb-30px">
                <h3 class="text-dark-gray mb-5px fw-800 alt-font fs-50">Get a consultation services.</h3>
                <span class="fs-30 text-base-color fw-700">Empowering your fight with expert care and compassion.</span>
            </div>
            <div class="col-xl-6 text-center text-xl-end">
                <a href="contact"
                    class="btn btn-extra-large btn-white left-icon btn-box-shadow btn-rounded text-transform-none fw-600 primary-font ls-0px d-inline-block align-middle me-15px xs-m-10px"><i
                        class="feather icon-feather-mail"></i>Book Appointments</a>
                <a href="tel:+91 74184 58508"
                    class="btn btn-extra-large btn-gradient-pink-orange left-icon btn-box-shadow btn-rounded fw-600 primary-font ls-0px d-inline-block align-middle xs-m-10px"><i
                        class="feather icon-feather-phone-call"></i>+91 74184 58508</a>
            </div>
        </div>
    </div>
</section>