<section class="pt-40px pb-40px cover-background" style="background-image:url('assets/image/home/cta.jpg');">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xxl-12 col-lg-12 position-relative z-index-1 text-center d-flex flex-wrap align-items-center justify-content-center">
                <span
                    class="ps-25px pe-25px pt-5px pb-5px mb-25px text-uppercase text-white fs-12 ls-1px fw-600 border-radius-100px bg-black-transparent-medium d-flex align-items-center text-start sm-lh-20"><i
                        class="bi bi-megaphone text-white d-inline-block align-middle icon-small me-10px "></i>Together,
                    we can create a journey of hope and healing</span>
                <h1 class="text-dark-gray fw-600  mb-45px fs-45 ls-1px fs-50 ">Empowering your fight with expert care
                    and
                    compassion. Healing starts here, where <span class="fw-600"
                        data-fancy-text='{ "effect": "rotate", "string": [" hope begins!", " strength grows!", " life thrives!"] }'></span>
                </h1>
                <a href="#treatment-options"
                    class="btn btn-medium btn-switch-text btn-gradient-purple-pink btn-rounded me-10px ls-0px mt-15px mb-15px fs-17">
                    <span>
                        <span class="btn-double-text alt-font" data-text="Book Appointments">Book Appointments</span>
                        <span><i class="fa-solid fa-stethoscope"></i></span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>