<section class="cover-background one-third-screen sm-h-500px"
    style="background-image:url('assets/image/home/cta.jpg');">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center h-100 me-25px">
            <div class="col-xxl-8 col-lg-10 mb-9 md-mb-15 sm-mb-0 position-relative z-index-1 text-center d-flex flex-wrap align-items-center justify-content-center"
                data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <span
                    class="ps-25px pe-25px pt-5px pb-5px mb-25px text-uppercase text-white fs-12 ls-1px fw-600 border-radius-100px bg-black-transparent-medium d-flex align-items-center text-start sm-lh-20"><i
                        class="bi bi-megaphone text-white d-inline-block align-middle icon-small me-10px "></i>Together,
                    we can create a journey of hope and healing</span>
                <h1 class="text-white fw-600  mb-45px fs-45 ls-1px fs-50 ">Empowering your fight with expert care and
                    compassion. Healing starts here, where <span class="fw-600"
                        data-fancy-text='{ "effect": "rotate", "string": [" hope begins!", " strength grows!", " life thrives!"] }'></span>
                </h1>
                <a href="#treatment-options" class="btn btn-medium btn-switch-text btn-gradient-purple-pink btn-rounded me-10px ls-0px mt-15px mb-15px fs-17">
                    <span>
                        <span class="btn-double-text alt-font" data-text="Book Appointments">Book Appointments</span>
                        <span><i class="fa-solid fa-stethoscope"></i></span>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="shape-image-animation bottom-0 p-0 w-100 d-none d-md-block">
        <svg xmlns="http://www.w3.org/2000/svg" widht="3000" height="400" viewBox="0 180 2500 200" fill="#ffffff">
            <path class="st1" d="M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250">
                <animate attributeName="d" dur="5s" values="M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250;
                    M 0 250 C 400 50 400 400 3000 250 L 3000 550 L 0 550 L 0 250;
                    M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250" repeatCount="indefinite" />
            </path>
        </svg>
    </div>
</section>