<app-pagebanner [pagetitle]="pagetitle"></app-pagebanner>
<section class="pt-40px pb-40px sm-pb-0 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-lg-8 order-1 order-lg-2 md-mb-50px" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <h3 class="fw-600 alt-font text-base-color shadow-none fs-50" data-shadow-animation="true" data-animation-delay="1500">
                    Harnessing Your Immune System to
                    <span class="text-dark-gray">Fight Cancer</span>
                </h3>

                <p class="fs-18 text-dark-gray fw-400">
                    Immunotherapy is a groundbreaking cancer treatment that leverages the power of your immune system to detect and destroy cancer cells. Unlike normal cells, which naturally die off, cancer cells multiply uncontrollably,
                    <strong class="text-dark-gray"> often mutating to evade immune detection. </strong>
                </p>

                <p class="fs-18 text-dark-gray fw-400">
                    Immunotherapy drugs are specially designed to alert the immune system to these rogue cells, enabling it to identify and eliminate them effectively. By enhancing the body’s natural defenses, this treatment offers a
                    <strong class="text-dark-gray"> targeted approach to combat cancer while sparing healthy tissues.</strong>
                </p>
                <img src="assets/images/services/4.png" class="mb-20px" alt="daycare" />
                <p class="fs-18 text-dark-gray fw-400">
                    Our hospital delivers advanced immunotherapy treatments with a personalized approach, utilizing the latest technologies and expert oncologists to achieve the best outcomes. We combine innovative care with compassionate
                    support to guide patients through every step of their journey.
                </p>
                <app-widget-service></app-widget-service>
                <div class="h-1px w-100 bg-extra-medium-gray mt-4 mb-4"></div>

                <div class="bg-light p-6 mt-6 mb-9 border-radius-6px">
                    <div class="row">
                        <div class="col-md-6 pe-5 lg-pe-15px mb-4">
                            <h5 class="text-dark-gray fw-600 mb-8">Benefits of Immunotherapy</h5>
                            <ul class="p-0 m-0 list-style-02 text-dark-gray fs-18 text-gray fw-400 primary-font">
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-check fs-15 me-10px"></i>
                                    Targets cancer cells with high precision, minimizing damage to healthy tissue.
                                </li>
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-check fs-15 me-10px"></i>
                                    Can provide long-lasting effects, offering durable remission.
                                </li>
                                <li class="pb-10px">
                                    <i class="fa-solid fa-check fs-15 me-10px"></i>
                                    Works synergistically with other treatments like chemotherapy or radiation.
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h5 class="text-dark-gray fw-600 mb-8">Downsides of Immunotherapy</h5>
                            <ul class="p-0 m-0 list-style-02 text-dark-gray fs-18 text-gray fw-400 primary-font">
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-xmark fs-15 me-10px"></i>
                                    May cause immune-related side effects, like inflammation or organ damage.
                                </li>
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-xmark fs-15 me-10px"></i>
                                    Not effective for all patients or types of cancer.
                                </li>
                                <li class="pb-10px">
                                    <i class="fa-solid fa-xmark fs-15 me-10px"></i>
                                    Expensive and can require long treatment durations.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h3 class="fw-600 alt-font text-base-color shadow-none fs-50" data-shadow-animation="true" data-animation-delay="1500">Types of <span class="text-dark-gray"> Immunotherapy</span></h3>

                <p class="fs-18 text-dark-gray fw-400">
                    <span class="fw-600 text-decoration-line-bottom">Immune Checkpoint Inhibitors</span> - These drugs block immune checkpoint proteins (e.g., PD-1, PD-L1) that prevent the immune system from attacking cancer cells, allowing
                    for stronger immune responses against tumors. They have shown promising results in cancers like melanoma, lung cancer, and more.
                </p>
                <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px"></div>
                <p class="fs-18 text-dark-gray fw-400">
                    <span class="fw-600 text-decoration-line-bottom">Monoclonal Antibodies</span> - Laboratory-made antibodies designed to target specific proteins on cancer cells or pathogens, marking them for destruction by the immune
                    system. Some monoclonal antibodies also deliver toxic agents directly to cancer cells to kill them.
                </p>
                <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px"></div>
                <p class="fs-18 text-dark-gray fw-400">
                    <span class="fw-600 text-decoration-line-bottom">T-Cell Therapy (e.g., CAR-T)</span> - A treatment where a patient’s T cells are modified to express chimeric antigen receptors (CARs) to better recognize and attack cancer
                    cells. It has shown significant success in treating blood cancers like leukemia and lymphoma.
                </p>
                <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px"></div>
                <p class="fs-18 text-dark-gray fw-400">
                    <span class="fw-600 text-decoration-line-bottom">Cancer Vaccines</span> - These vaccines stimulate the immune system to recognize and target specific cancer-related antigens, prompting an immune response against the
                    tumor. They can be used both as preventive vaccines (e.g., HPV vaccine) and therapeutic vaccines for existing cancers.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="pt-40px pb-40px sm-pt-20px position-relative" style="background-image: url(assets/images/treatment-bg.png);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 md-mb-60px sm-mb-45px text-center text-lg-start" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                <h3 class="fw-600 alt-font text-base-color mt-15px shadow-none fs-50" data-shadow-animation="true" data-animation-delay="1500">Immunotherapy<span class="text-dark-gray"> Treatment Methods</span></h3>

                <p class="fs-18 text-dark-gray fw-400">
                    Immunotherapy enhances the body's immune system to combat diseases, including cancer. It works by stimulating or restoring the immune system's natural ability to detect and destroy abnormal cells.
                </p>
                <p class="fs-18 text-dark-gray fw-400">
                    We’re Here for You !!<br />
                    Schedule your consultation today to explore which immunotherapy method is right for you.
                </p>
                <a href="contact" class="btn btn-medium btn-switch-text btn-gradient-purple-pink btn-rounded me-10px ls-0px mt-15px mb-15px fs-17">
                    <span>
                        <span class="btn-double-text alt-font" data-text="Book Appointments">Book Appointments</span>
                        <span><i class="fa-solid fa-stethoscope"></i></span>
                    </span>
                </a>
            </div>
            <div class="col-lg-8">
                <div class="row row-cols-1 row-cols-md-2 justify-content-center" data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-syringe icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-22 text-dark-gray d-block mb-5px">Intravenous (IV) Infusion:</span>
                                <p class="fs-18 text-gray fw-400 primary-font">Administered through a vein infusion (intravenously), using a needle inserted into a vein in the arm or chest.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-capsules icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-22 text-dark-gray d-block mb-5px">Oral Administration</span>
                                <p class="fs-18 text-gray fw-400 primary-font">Some immune-modulating drugs are available in pill form, used for specific checkpoint inhibitors or targeted therapies..</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 sm-mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-biohazard icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-22 text-dark-gray d-block mb-5px">Intratumoral Injection</span>
                                <p class="fs-18 text-gray fw-400 primary-font">Immunotherapy is injected directly into the tumor, used in some cancer vaccines and experimental treatments.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-tint icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-22 text-dark-gray d-block mb-5px">Intravesical Injection</span>
                                <p class="fs-18 text-gray fw-400 primary-font">Delivered directly into the bladder for localized treatment, commonly used in bladder cancer immunotherapy.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-pump-soap icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-22 text-dark-gray d-block mb-5px">Topical Application</span>
                                <p class="fs-18 text-gray fw-400 primary-font">Certain immunotherapies, like creams or ointments, are applied directly to the skin, used for skin cancers or localized conditions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon">
                                <i class="fa-solid fa-heart-circle-plus icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-22 text-dark-gray d-block mb-5px">Subcutaneous Injection: </span>
                                <p class="fs-18 text-gray fw-400 primary-font">Immunotherapy is injected under the skin, often used for certain monoclonal antibodies and cytokine therapies.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-cta></app-cta>
