<app-pagebanner [pagetitle]="pagetitle"></app-pagebanner>
<section class="pt-40px pb-40px sm-pb-0 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-lg-8 order-1 order-lg-2 md-mb-50px" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <h3 class="fw-600 alt-font text-base-color shadow-none fs-50" data-shadow-animation="true" data-animation-delay="1500">Transforming Care Through <span class="text-dark-gray">Early Detection</span></h3>
                <p class="fs-18 text-dark-gray fw-400">
                    At Noble Cancer Care, we prioritize your health and well-being by offering comprehensive cancer screening services. These specialized tests are designed to detect early signs of cancer, often before any symptoms appear.
                    Research shows that early detection can make cancer easier to treat and, in many cases,

                    <strong class="text-dark-gray"> increase the chances of a full recovery. </strong>
                </p>

                <p class="fs-18 text-dark-gray fw-400">
                    Our expert healthcare providers recommend cancer screenings based on your age, medical history, and risk factors—not because they believe you have cancer, but to ensure proactive care. While most individuals may not
                    require screening tests until their 40s, <strong class="text-dark-gray"> we’re here to guide you in making informed decisions about your health.</strong>
                </p>
                <img src="assets/images/services/5.png" class="mb-20px" alt="" />

                <p class="fs-18 text-dark-gray fw-400">Rely on Noble Cancer Care to provide advanced screening services, ensuring early detection and peace of mind for you and your loved ones. Your health is our commitment.</p>
                <app-widget-service></app-widget-service>
                <div class="h-1px w-100 bg-extra-medium-gray mt-4 mb-4"></div>

                <h3 class="fw-600 alt-font text-black shadow-none fs-50" data-shadow-animation="true" data-animation-delay="1500">Who should be <span class="text-base-color">screened </span>for cancer?</h3>
                <p class="fs-18 text-dark-gray fw-400">
                    Cancer screening guidelines vary based on the type of cancer and your situation. People age 20 and older should ask a healthcare provider if they should have a cancer-related checkup. Healthcare providers use these
                    checkups to determine if people have cancer risk factors. A risk factor is something that increases the chance you’ll have cancer. A family history of cancer is a risk factor.
                </p>
                <p class="fs-18 text-dark-gray fw-400">That said, people generally don’t need regular cancer screening tests until they’re in their 40s. There are exceptions, including:</p>
                <div class="icon-with-text-style-08 mb-10px">
                    <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                        <div class="feature-box-icon feature-box-icon-rounded w-40px h-40px bg-light-medium-gray rounded-circle me-15px">
                            <i class="fa-solid fa-check fs-14 text-base-color"></i>
                        </div>
                        <div class="feature-box-content">
                            <span class="fs-18 text-dark-gray fw-400">You’ve been diagnosed with a pre-cancerous condition.</span>
                        </div>
                    </div>
                </div>
                <div class="icon-with-text-style-08 mb-10px">
                    <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                        <div class="feature-box-icon feature-box-icon-rounded w-40px h-40px bg-light-medium-gray rounded-circle me-15px">
                            <i class="fa-solid fa-check fs-14 text-base-color"></i>
                        </div>
                        <div class="feature-box-content">
                            <span class="fs-18 text-dark-gray fw-400">You have a family history of cancer, particularly cancer diagnosed in younger family members. </span>
                        </div>
                    </div>
                </div>
                <div class="bg-light p-6 mt-6 mb-9 border-radius-6px">
                    <div class="row">
                        <div class="col-md-6 pe-5 lg-pe-15px mb-4">
                            <h5 class="text-dark-gray fw-600 mb-8">Benefits of Immunotherapy</h5>
                            <ul class="p-0 m-0 list-style-02 text-dark-gray fs-18 text-gray fw-400 primary-font">
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-check fs-15 me-10px"></i>
                                    Screening can identify cancer at an early stage
                                </li>
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-check fs-15 me-10px"></i>
                                    Early intervention often leads to better treatment success rates and improved survival rates.
                                </li>
                                <li class="pb-10px">
                                    <i class="fa-solid fa-check fs-15 me-10px"></i>
                                    Some tests can detect precancerous conditions, allowing for measures to prevent cancer.
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h5 class="text-dark-gray fw-600 mb-8">Downsides of Immunotherapy</h5>
                            <ul class="p-0 m-0 list-style-02 text-dark-gray fs-18 text-gray fw-400 primary-font">
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-xmark fs-15 me-10px"></i>
                                    Screening can sometimes indicate cancer when none is present
                                </li>
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-xmark fs-15 me-10px"></i>
                                    Certain tests, like biopsies, may have risks such as infection, discomfort, or complications.
                                </li>
                                <li class="pb-10px">
                                    <i class="fa-solid fa-xmark fs-15 me-10px"></i>
                                    Screening may cause anxiety or emotional distress for some individuals
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <h3 class="fw-600 alt-font text-base-color shadow-none fs-50" data-shadow-animation="true" data-animation-delay="1500">Common cancer <span class="text-dark-gray"> Screening tests</span></h3>

                <p class="fs-18 text-dark-gray fw-400">
                    <span class="fw-600 text-decoration-line-bottom">Physical examination</span>During your routine physical exam, a healthcare provider may check for any changes in your body, such as unusual lumps. They will also ask about
                    your lifestyle habits and your family's medical history.
                </p>
                <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px"></div>
                <p class="fs-18 text-dark-gray fw-400">
                    <span class="fw-600 text-decoration-line-bottom"> Laboratory tests</span>These tests may involve blood tests for cancer, tissue collection procedures, and urine tests. For instance, Pap smears are a type of screening
                    test used to collect tissue samples for medical pathologists to analyze for signs of cancer.
                </p>
                <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px"></div>
                <p class="fs-18 text-dark-gray fw-400">
                    <span class="fw-600 text-decoration-line-bottom">Imaging tests </span> These tests are used to capture detailed images of the inside of your body to help detect abnormalities. These tests are often employed in cancer
                    screening and diagnosis. For example, a mammogram is a common imaging test specifically designed to screen for breast cancer.
                </p>
                <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px"></div>
                <p class="fs-18 text-dark-gray fw-400">
                    <span class="fw-600 text-decoration-line-bottom">Genetic tests for cancer</span> If someone in your biological family has a type of hereditary cancer, your provider may recommend genetic tests to see if you have an
                    increased risk of developing that cancer.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="pt-40px pb-40px sm-pt-20px position-relative" style="background-image: url(assets/images/treatment-bg.png);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 md-mb-60px sm-mb-45px text-center text-lg-start" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                <h3 class="fw-600 alt-font text-base-color mt-15px shadow-none fs-50" data-shadow-animation="true" data-animation-delay="1500">Types of <span class="text-dark-gray">Cancer Screening</span></h3>
                <p class="fs-18 text-dark-gray fw-400">
                    Cancer screening tests are essential tools for detecting cancer at early stages, often before symptoms appear, which can significantly improve treatment outcomes. Here are some common types of cancer screening tests.
                </p>
                <p class="fs-18 text-dark-gray fw-400">
                    We’re Here for You !!<br />
                    Schedule your consultation today to explore which immunotherapy method is right for you.
                </p>
                <a href="contact" class="btn btn-medium btn-switch-text btn-gradient-purple-pink btn-rounded me-10px ls-0px mt-15px mb-15px fs-17">
                    <span>
                        <span class="btn-double-text alt-font" data-text="Book Appointments">Book Appointments</span>
                        <span><i class="fa-solid fa-stethoscope"></i></span>
                    </span>
                </a>
            </div>
            <div class="col-lg-8">
                <div class="row row-cols-1 row-cols-md-2 justify-content-center" data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-syringe icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-22 text-dark-gray d-block mb-5px">Breast Cancer Screening Tests </span>
                                <p class="fs-18 text-gray fw-400 primary-font">Mammograms and MRIs for high-risk individuals detect breast cancer early, improving treatment outcomes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-capsules icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-22 text-dark-gray d-block mb-5px">Prostate Cancer Screening Tests </span>
                                <p class="fs-18 text-gray fw-400 primary-font">PSA blood test and DRE exam help detect prostate cancer early, though they may lead to false positives or overdiagnosis.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 sm-mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-biohazard icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-22 text-dark-gray d-block mb-5px">Cervical Cancer Screening Tests</span>
                                <p class="fs-18 text-gray fw-400 primary-font">
                                    Pap smears and HPV tests detect early cervical cell changes, helping to prevent or treat cancer effectively.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-tint icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-22 text-dark-gray d-block mb-5px">Lung Cancer Screening Tests </span>
                                <p class="fs-18 text-gray fw-400 primary-font">Low-dose CT scans (LDCT) help detect lung cancer early, improving survival through early detection.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-pump-soap icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-22 text-dark-gray d-block mb-5px">Colorectal Cancer Tests</span>
                                <p class="fs-18 text-gray fw-400 primary-font">Colonoscopy and stool tests detect early cancer signs or precancerous polyps, aiding in prevention and early treatment.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-heart-circle-plus icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-22 text-dark-gray d-block mb-5px">Ovarian Cancer Screening Tests </span>
                                <p class="fs-18 text-gray fw-400 primary-font">Transvaginal ultrasound and CA-125 blood tests help detect ovarian cancer in high-risk individuals.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-cta></app-cta>
