<div class="position-sticky top-80px lg-top-40px">
    <div class="mb-30px alt-font">
        <ul class="p-0 m-0 list-style-02  fw-500">
            <li class="pb-15px"> <a href="oncology-consultation"
                    class="btn btn-extra-large fw-600 btn-rounded with-rounded btn-white btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto">
                    Oncology Consultation
                    <span class="bg-dark-gray text-white"><i class="fa-solid fa-arrow-right"></i></span></a>
            </li>
            <li class="pb-15px"> <a href="daycarechemotherapy"
                    class="btn btn-extra-large fw-600 btn-rounded with-rounded btn-white btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto">
                    Daycare Chemotherapy 
                    <span class="bg-dark-gray text-white"><i class="fa-solid fa-arrow-right"></i></span></a>
            </li>
            <li class="pb-15px"> <a href="targetedtherapy"
                    class="btn btn-extra-large fw-600 btn-rounded with-rounded btn-white btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto">
                    Targeted therapy
                    <span class="bg-dark-gray text-white"><i class="fa-solid fa-arrow-right"></i></span></a></li>
            <li class="pb-15px"> <a href="immunotherapy"
                    class="btn btn-extra-large fw-600 btn-rounded with-rounded btn-white btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto">
                    Immunotherapy 
                    <span class="bg-dark-gray text-white"><i class="fa-solid fa-arrow-right"></i></span></a>
            </li>
            <li class="pb-15px"> <a href="cancerscreening"
                    class="btn btn-extra-large fw-600 btn-rounded with-rounded btn-white btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto">
                    Cancer Screening
                    <span class="bg-dark-gray text-white"><i class="fa-solid fa-arrow-right"></i></span></a>
            </li>
            <li class="pb-15px"> <a href="cancer-vaccination"
                    class="btn btn-extra-large fw-600 btn-rounded with-rounded btn-white btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto">
                    Cancer Vaccination
                    <span class="bg-dark-gray text-white"><i class="fa-solid fa-arrow-right"></i></span></a>
            </li>
            <li class="pb-15px"> <a href="genetic-counselling"
                    class="btn btn-extra-large fw-600 btn-rounded with-rounded btn-white btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto">
                    Genetic Counselling
                    <span class="bg-dark-gray text-white"><i class="fa-solid fa-arrow-right"></i></span></a>
            </li>
            <li class="pb-15px"> <a href="pain-and-palliative-care"
                    class="btn btn-extra-large fw-600 btn-rounded with-rounded btn-white btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto">
                    Pain & Palliative care 
                    <span class="bg-dark-gray text-white"><i class="fa-solid fa-arrow-right"></i></span></a>
            </li>
            <li class="pb-15px"> <a href="psycho-oncology-consultation"
                    class="btn btn-extra-large fw-600 btn-rounded with-rounded btn-white btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto">
                    Psycho Oncology Consultation
                    <span class="bg-dark-gray text-white"><i class="fa-solid fa-arrow-right"></i></span></a>
            </li>
        </ul>
    </div>
    <!-- <div class="ps-14 pe-14 pt-10 pb-10 lg-p-25px bg-dark-gray border-radius-6px text-center text-lg-start">
        <span class="fs-24 fw-500 text-white mb-10px d-inline-block">Open to Discover Hope</span>
        <p class="text-white mb-15px alt-font fs-17">
            Every page promises innovation, expert care, and unwavering support. Open to see how we’re transforming
            cancer care.
        </p>
        <a href="assets/brochure.pdf" download
            class="btn btn-extra-large btn-switch-text btn-gradient-purple-pink btn-rounded ls-0px mt-15px">
            <span>
                <span class="btn-double-text alt-font fs-17 align" data-text="Download">Download</span>
                <span><i class="fa-solid fa-download"></i></span>
            </span>
        </a>
    </div> -->
</div>