<app-pagebanner [pagetitle]="pagetitle"></app-pagebanner>
<section class="pt-40px pb-40px sm-pb-0 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-lg-8 order-1 order-lg-2 md-mb-50px" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <h3 class="fw-600 alt-font text-dark-gray shadow-none fs-50" data-shadow-animation="true" data-animation-delay="1500">
                    How Vaccines are Transforming
                    <span class="text-base-color">Prevention and Treatment </span> for Better Patient Outcomes
                </h3>

                <p class="fs-18 text-dark-gray fw-400">
                    Cancer vaccination is an innovative and essential approach in the fight against cancer, offering both prevention and treatment options. Preventive vaccines, such as the HPV and Hepatitis B vaccines, protect against
                    cancer-causing infections, helping reduce the risk of cancers like cervical, throat, and liver cancer.
                </p>

                <p class="fs-18 text-dark-gray fw-400">
                    The vaccines work by stimulating the body’s immune system to target and destroy existing cancer cells. With the development of personalized and cutting-edge cancer vaccines, patients can benefit from enhanced protection,
                    increased survival rates, and a stronger immune response against specific types of cancer.
                </p>
                <img src="assets/images/services/4.png" class="mb-20px" alt="daycare" />
                <app-widget-service></app-widget-service>
                <div class="h-1px w-100 bg-extra-medium-gray mt-4 mb-4"></div>
                <div class="bg-light p-6 mt-6 mb-9 border-radius-6px">
                    <div class="row">
                        <div class="col-md-12 pe-5 lg-pe-15px mb-4">
                            <h5 class="text-dark-gray fw-600 mb-8">Benefits of Cancer Vaccinations</h5>
                            <ul class="p-0 m-0 list-style-02 text-dark-gray fs-18 text-gray fw-400 primary-font">
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-check fs-15 me-10px"></i>
                                    Prevents cancer-causing infections like HPV and Hepatitis B.
                                </li>
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-check fs-15 me-10px"></i>
                                    Reduces the risk of certain cancers such as cervical, liver, and throat cancers.
                                </li>
                                <li class="pb-10px">
                                    <i class="fa-solid fa-check fs-15 me-10px"></i>
                                    Boosts immune defense to target and destroy cancer cells.
                                </li>
                                <li class="pb-10px">
                                    <i class="fa-solid fa-check fs-15 me-10px"></i>
                                    Increases survival rates by preventing cancer development in high-risk individuals.
                                </li>
                                <li class="pb-10px">
                                    <i class="fa-solid fa-check fs-15 me-10px"></i>
                                    Helps reduce recurrence in certain cancer types after treatment.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h3 class="fw-600 alt-font text-base-color shadow-none fs-50" data-shadow-animation="true" data-animation-delay="1500">Side Effects of <span class="text-dark-gray"> Cancer Vaccinations</span></h3>

                <p class="fs-18 text-dark-gray fw-400">
                    Pain at the injection site is common.
                </p>
                <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px"></div>
                <p class="fs-18 text-dark-gray fw-400">
                    Mild fever or fatigue can occur after vaccination.
                </p>
                <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px"></div>
                <p class="fs-18 text-dark-gray fw-400">
                    Headaches may be experienced in some cases.
                </p>
                <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px"></div>
                <p class="fs-18 text-dark-gray fw-400">
                    Rash or swelling at the injection site can happen.
                </p>
                <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px"></div>
                <p class="fs-18 text-dark-gray fw-400">
                    Allergic reactions are rare but possible.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="pt-40px pb-40px sm-pt-20px position-relative" style="background-image: url(assets/images/treatment-bg.png);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 md-mb-60px sm-mb-45px text-center text-lg-start" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                <h3 class="fw-600 alt-font text-base-color mt-15px shadow-none fs-50" data-shadow-animation="true" data-animation-delay="1500">Cancer <span class="text-dark-gray"> Vaccination Methods</span></h3>
                <p class="fs-18 text-dark-gray fw-400">
                    Cancer vaccines prevent virus-related cancers by targeting infections like HPV and Hepatitis B, reducing the risk of cancers such as cervical, throat, and liver cancer.
                </p>
                <p class="fs-18 text-dark-gray fw-400">
                    They also help stop tumor growth, destroy remaining cancer cells after treatments, and prevent cancer from returning, boosting the body's defense against future development.
                </p>
                <a href="contact" class="btn btn-medium btn-switch-text btn-gradient-purple-pink btn-rounded me-10px ls-0px mt-15px mb-15px fs-17">
                    <span>
                        <span class="btn-double-text alt-font" data-text="Book Appointments">Book Appointments</span>
                        <span><i class="fa-solid fa-stethoscope"></i></span>
                    </span>
                </a>
            </div>
            <div class="col-lg-8">
                <div class="row row-cols-1 row-cols-md-2 justify-content-center" data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-syringe icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-22 text-dark-gray d-block mb-5px">Preventive (Prophylactic) Vaccines:</span>
                                <p class="fs-18 text-gray fw-400 primary-font">
                                    These vaccines help prevent infections that could lead to cancer, such as the HPV vaccine (for cervical cancer) and the Hepatitis B vaccine (for liver cancer).
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-capsules icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-22 text-dark-gray d-block mb-5px">Therapeutic (Treatment) Vaccines</span>
                                <p class="fs-18 text-gray fw-400 primary-font">
                                    These vaccines are designed to treat existing cancers by stimulating the immune system to attack cancer cells. Examples include Bacillus Calmette–Guérin (BCG) vaccine for bladder cancer and sipuleucel-T
                                    for prostate cancer.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-tint icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-22 text-dark-gray d-block mb-5px">DNA or RNA Vaccines</span>
                                <p class="fs-18 text-gray fw-400 primary-font">These vaccines introduce genetic material into the body to instruct cells to produce cancer-specific proteins, triggering an immune response.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-pump-soap icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-22 text-dark-gray d-block mb-5px">Cell-based Vaccines</span>
                                <p class="fs-18 text-gray fw-400 primary-font">These involve stimulating the patient’s immune cells outside the body and then reintroducing them to the bloodstream to fight cancer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon">
                                <i class="fa-solid fa-heart-circle-plus icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-22 text-dark-gray d-block mb-5px">Peptide Vaccines </span>
                                <p class="fs-18 text-gray fw-400 primary-font">These vaccines use small pieces of proteins (peptides) from cancer cells to help the immune system recognize and destroy cancer cells.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon">
                                <i class="fa-solid fa-heart-circle-plus icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-22 text-dark-gray d-block mb-5px">Viral Vector Vaccines</span>
                                <p class="fs-18 text-gray fw-400 primary-font">
                                    These vaccines use a virus (not the one that causes cancer) to deliver cancer-specific genes into the body. The body then produces cancer-related proteins to stimulate an immune response.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-cta></app-cta>
