<app-pagebanner [pagetitle]="pagetitle"></app-pagebanner>
<section class="pt-40px pb-40px position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-lg-8 order-1 order-lg-2 md-mb-50px" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <h3 class="fw-600 alt-font text-base-color shadow-none fs-50" data-shadow-animation="true" data-animation-delay="1500">Empowering Your recovery <span class="text-dark-gray">with precision and convenience</span></h3>
                <p class="fs-18 text-dark-gray fw-400">
                    Day Care Chemotherapy is a modern and patient-centered approach to cancer treatment, designed to deliver chemotherapy sessions in a outpatient setting. This treatment allows patients to receive the same high-quality care
                    as inpatient chemotherapy but with
                    <strong class="text-base-color"> added benefit of returning home the same day. </strong>
                </p>
                <p class="fs-18 text-dark-gray fw-400">
                    Unlike traditional inpatient chemotherapy, where hospitalization is required for extended periods, day care chemotherapy offers a convenient, cost-effective solution that minimizes disruption to daily life. With shorter
                    treatment durations and tailored care, patients can focus on recovery
                    <strong class="text-base-color"> while maintaining their routines and comfort.</strong>
                </p>
                <img src="assets/images/services/1.png" class="mb-20px" alt="daycare" />
                <p class="fs-18 text-dark-gray fw-400">
                    At our facility, we prioritize safety, comfort, and expert supervision, ensuring that every session is managed by highly skilled oncologists and nursing staff. With state-of-the-art equipment, a serene environment, and a
                    compassionate team, we make your treatment journey as smooth and supportive as possible.
                </p>
                <app-widget-service></app-widget-service>
                <div class="h-1px w-100 bg-extra-medium-gray mt-4 mb-4"></div>
                <h3 class="fw-600 alt-font text-base-color shadow-none fs-50" data-shadow-animation="true" data-animation-delay="1500">Benefits of <span class="text-dark-gray"> Day Care Chemeotherapy</span></h3>
                <div class="bg-light p-6 mt-6 mb-9 border-radius-6px">
                    <div class="row align-items-center">
                        <div class="col-md-6 pe-5 lg-pe-15px md-mb-20px">
                            <ul class="p-0 m-0 list-style-02 text-dark-gray fs-18 text-dark-gray fw-400">
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-check me-10px"></i>
                                    Convenience and Flexibility: Offers treatment with the ease of returning home the same day.
                                </li>
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-check me-10px"></i>
                                    Cost-Effective Care: Eliminates expenses associated with overnight hospital stays.
                                </li>
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-check me-10px"></i>
                                    Comfortable Environment: Provides a serene and patient-friendly outpatient setting.
                                </li>
                                <li class="pb-10px">
                                    <i class="fa-solid fa-check me-10px"></i>
                                    Expert Supervision: Ensures safe, personalized care by skilled oncologists and nurses.
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <img src="assets/images/services/3.png" alt="Day Care Chemotherapy" style="border-radius: 10% 30% 50% 70%;" />
                        </div>
                    </div>
                </div>
                <h3 class="fw-600 alt-font text-base-color shadow-none fs-50" data-shadow-animation="true" data-animation-delay="1500">Types of <span class="text-dark-gray"> Chemeotherapy</span></h3>
                <p class="fs-18 text-dark-gray fw-400">
                    <span class="fw-600 text-decoration-line-bottom"> Adjuvant Therapy</span> - Adjuvant therapy is given after primary treatments like surgery or radiation. It aims to destroy remaining cancer cells that might lead to
                    recurrence. This approach enhances the chances of long-term remission and recovery.
                </p>
                <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px"></div>
                <p class="fs-18 text-dark-gray fw-400">
                    <span class="fw-600 text-decoration-line-bottom"> Curative Therapy</span> - Curative therapy focuses on completely eradicating cancer and preventing its return. Often combined with surgery or radiation, it is used for
                    early-stage cancers where remission is achievable. This method is tailored to aggressively target the disease for a full cure.
                </p>
                <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px"></div>
                <p class="fs-18 text-dark-gray fw-400">
                    <span class="fw-600 text-decoration-line-bottom">Neoadjuvant Therapy</span> - Neoadjuvant therapy is administered before surgery or radiation to shrink tumors. This method makes surgical removal easier and more effective
                    while reducing the invasiveness of the procedure. It also provides insight into how the tumor responds to treatment.
                </p>
                <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px"></div>
                <p class="fs-18 text-dark-gray fw-400">
                    <span class="fw-600 text-decoration-line-bottom">Palliative Therapy</span> - Palliative therapy aims to improve the quality of life for patients with advanced-stage cancer. It reduces tumor size and alleviates symptoms
                    like pain and discomfort. This method focuses on providing relief rather than achieving a cure.
                </p>
                <h3 class="fw-600 alt-font text-base-color shadow-none fs-50" data-shadow-animation="true" data-animation-delay="1500">Benefits of<span class="text-dark-gray"> Chemeotherapy</span></h3>
                <div
                    class="row row-cols-1 row-cols-lg-3 row-cols-sm-2 justify-content-center"
                    data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
                >
                    <div class="col icon-with-text-style-03">
                        <div class="bg-light border-radius-20px feature-box p-8">
                            <div class="feature-box-icon">
                                <img src="assets/images/icon/benifits.png" class="w-80px h-80px mb-20px" />
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <p class="fs-18 text-dark-gray fw-400">
                                    Reduces tumor size and slows cancer growth, extending life
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-03">
                        <div class="bg-light border-radius-20px feature-box p-8">
                            <div class="feature-box-icon">
                                <img src="assets/images/icon/benifits.png" class="w-80px h-80px mb-20px" />
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <p class="fs-18 text-dark-gray fw-400">Makes certain cancers more amenable to surgical removal.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-03">
                        <div class="bg-light border-radius-20px feature-box p-8">
                            <div class="feature-box-icon">
                                <img src="assets/images/icon/benifits.png" class="w-80px h-80px mb-20px" />
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <p class="fs-18 text-dark-gray fw-400">Reduces the risk of cancer recurrence post-surgery.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="fw-600 alt-font text-base-color mt-15px shadow-none fs-50" data-shadow-animation="true" data-animation-delay="1500">Downsides of<span class="text-dark-gray"> Chemeotherapy</span></h3>

                <div
                    class="row row-cols-1 row-cols-lg-3 row-cols-sm-2 justify-content-center"
                    data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'
                >
                    <div class="col icon-with-text-style-03">
                        <div class="bg-light border-radius-20px feature-box p-8">
                            <div class="feature-box-icon">
                                <img src="assets/images/icon/shield.png" class="w-80px h-80px mb-20px" />
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <p class="fs-18 text-dark-gray fw-400">
                                    Can cause various short-term and long-term side effects.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-03">
                        <div class="bg-light border-radius-20px feature-box p-8">
                            <div class="feature-box-icon">
                                <img src="assets/images/icon/shield.png" class="w-80px h-80px mb-20px" />
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <p class="fs-18 text-dark-gray fw-400">
                                    Frequent hospital visits for treatment and tests can be exhausting.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-03">
                        <div class="bg-light border-radius-20px feature-box p-8">
                            <div class="feature-box-icon">
                                <img src="assets/images/icon/shield.png" class="w-80px h-80px mb-20px" />
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <p class="fs-18 text-dark-gray fw-400">
                                    The effectiveness of chemotherapy varies among individuals.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-40px pb-40px position-relative" style="background-image: url(assets/images/treatment-bg.png);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 md-mb-60px sm-mb-45px text-center text-lg-start" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                <h3 class="fw-600 alt-font text-base-color mt-15px shadow-none fs-50" data-shadow-animation="true" data-animation-delay="1500">Chemeotherapy<span class="text-dark-gray"> Treatment Methods</span></h3>
                <p class="fs-18 text-dark-gray fw-400">
                    Chemotherapy is a cornerstone cancer treatment often combined with surgery or radiation. From infusions and pills to localized and direct tumor applications, it’s tailored to individual needs.
                </p>
                <p class="fs-18 text-dark-gray fw-400">
                    We’re Here for You !!<br />
                    Schedule your consultation today to explore which chemotherapy method is right for you.
                </p>
                <a href="contact" class="btn btn-medium btn-switch-text btn-gradient-purple-pink btn-rounded me-10px ls-0px mt-15px mb-15px fs-17">
                    <span>
                        <span class="btn-double-text alt-font" data-text="Book Appointments">Book Appointments</span>
                        <span><i class="fa-solid fa-stethoscope"></i></span>
                    </span>
                </a>
            </div>
            <div class="col-lg-8">
                <div class="row row-cols-1 row-cols-md-2 justify-content-center" data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-syringe icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-22 text-dark-gray d-block mb-5px">Chemotherapy Infusions</span>
                                <p class="fs-18 text-gray fw-400 primary-font">Administered through a vein infusion (intravenously), using a needle inserted into a vein in the arm or chest.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-capsules icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-22 text-dark-gray d-block mb-5px">Oral Chemotherapy</span>
                                <p class="fs-18 text-gray fw-400 primary-font">Pills and capsules containing chemotherapy drugs can be taken orally for some treatments.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 sm-mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-vial icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-22 text-dark-gray d-block mb-5px">Chemotherapy Injections</span>
                                <p class="fs-18 text-gray fw-400 primary-font">Medications are injected directly into the vein, similar to how a shot is administered.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-pump-soap icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-22 text-dark-gray d-block mb-5px">Chemotherapy Creams</span>
                                <p class="fs-18 text-gray fw-400 primary-font">Creams or gels containing chemotherapy drugs are applied to treat certain skin cancers.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-heart-pulse icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-22 text-dark-gray d-block mb-5px">Localized Chemotherapy</span>
                                <p class="fs-18 text-gray fw-400 primary-font">Administered directly to a specific body part, such as the abdomen (intraperitoneal), chest cavity, or central nervous system.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-dna icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-22 text-dark-gray d-block mb-5px">Direct Tumor Administration</span>
                                <p class="fs-18 text-gray fw-400 primary-font">Chemotherapy drugs are applied directly to the cancer site or surgical site for targeted treatment.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-cta></app-cta>
