<section
    class="cover-background full-screen ipad-top-space-margin py-0 h-800px md-h-750px sm-h-650px d-flex align-items-center justify-content-center text-center"
    style="background-image:url('assets/images/home/home-banner-1.jpg'); ">
    <div class="shape-image-animation bottom-0 p-0 w-100 d-none d-md-block">
        <svg xmlns="http://www.w3.org/2000/svg" widht="3000" height="400" viewBox="0 180 2500 200" fill="#ffffff">
            <path class="st1" d="M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250">
                <animate attributeName="d" dur="5s" values="M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250;
                    M 0 250 C 400 50 400 400 3000 250 L 3000 550 L 0 550 L 0 250;
                    M 0 250 C 1200 400 1200 50 3000 250 L 3000 550 L 0 550 L 0 250" repeatCount="indefinite" />
            </path>
        </svg>
    </div>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 position-relative z-index-1"
                data-anime='{ "el": "childs", "translateY": [0, 0], "perspective": [1200,1200], "scale": [1.05, 1], "rotateX": [30, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <h1 class="text-purple alt-font fw-700 mb-25px fs-112 sm-fs-90">Nurturing Hope, Transforming Lives</h1>
                <div>
                    <p class="fw-500 fs-18 text-black mx-auto">Noble Cancer Centre:
                        Pioneering compassionate cancer care with advanced treatments<br>and unwavering hope</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Slider end -->


<section class="pt-70px pb-70px position-relative">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-md-6"
                data-anime='{ "effect": "slide", "direction": "tb", "color": "#FDEEF2", "duration": 1000, "delay": 0 }'>
                <img class="w-100" src="assets/images/home/about-1.png" alt="" style="border-radius: 30% 0% 30% 0%;">
            </div>
            <div class="col-12 col-md-6"
                data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <h3 class="fw-600 alt-font text-base-color shadow-none fs-50 sm-mt-20px" data-shadow-animation="true"
                    data-animation-delay="1500">Lighting the Path to Healing with <span class="text-dark-gray">Care and
                        Hope </span>
                </h3>
                <p class="fs-18 text-dark-gray fw-400">
                    At Noble Cancer Centre, we are dedicated to providing world-class cancer care with
                    compassion and cutting-edge technology. That’s why we offer a dedicated space for outpatient
                    chemotherapy services, allowing patients to receive their treatments during the
                    day and return home in the evening, maintaining their daily routines as much as possible. From the
                    moment you walk through our doors, we stand by your side, offering hope, healing, and unwavering
                    support every step of the way, ensuring that you and your loved ones never have to face this journey
                    alone.</p>
                <a href="contact"
                    class="btn btn-medium btn-switch-text btn-gradient-purple-pink btn-rounded me-10px ls-0px mt-15px">
                    <span>
                        <span class="btn-double-text fs-15" data-text="Book Appointments">Book
                            Appointments</span>
                        <span><i class="fa-solid fa-stethoscope"></i></span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- about end -->



<section class="pt-70px pb-70px position-relative" style="background:#FDEEF2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 mb-4"
                data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <h3 class="fw-600 alt-font text-base-color shadow-none fs-50" data-shadow-animation="true"
                    data-animation-delay="1500">Meet <span class="text-dark-gray">The Heart </span>Behind The
                    Care
                </h3>
                <p class="fs-18 text-dark-gray fw-400">
                    Dr. K. Kavithendral, M.D., D.M., a gold medalist in Medical Oncology, is a dedicated professional
                    with extensive expertise and a passion for compassionate care.
                </p>
                <p class="fs-18 text-dark-gray fw-400">
                    He earned his MBBS from Madras Medical College, Chennai, and his MD in Radiation Oncology from the
                    prestigious Adyar Cancer Institute, where he gained invaluable experience addressing diverse patient
                    needs. Further enhancing his skills, he completed his DM in Medical Oncology at Madurai Medical
                    College, excelling with a gold medal.
                </p>
                <div class="header-button mt-20px mb-20px">
                    <a class="btn btn-medium btn-switch-text btn-gradient-purple-pink btn-rounded me-10px ls-0px mt-15px mb-15px"
                       href="about-doctor">
                        <span>
                            <span class="btn-double-text fs-15"
                                  data-text="More about Doctor">
                                  More about Doctor
                            </span>
                            <span>
                                <i class="fa-solid fa-stethoscope"></i>
                            </span>
                        </span>
                    </a>
                </div>
                <div class="blockquote-style-01">
                    <i
                        class="bi bi-chat-quote float-start me-30px xs-me-20px text-base-color icon-extra-double-large xs-icon-double-large "></i>
                    <blockquote class="mb-0 d-table last-paragraph-no-margin">
                        <p class="fs-24 text-dark-gray ls-minus-1px w-90 lg-w-100 mb-15px">I am honored and grateful to
                            return to my hometown, serving the community that shaped me into who I am today.</p>
                        <div class="fw-500 text-dark-gray mt-15px">Dr. K. Kavithendral, M.D., D.M.,</div>
                    </blockquote>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-center text-center">
                <figure class="m-0">
                    <img src="https://dummyimage.com/700/000/aaa" alt="" style="border-radius: 0% 30% 0% 30%;"
                        class="img-fluid">
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- Doctor Section end -->


<section class="pt-70px pb-70px position-relative">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="row">
                    <div class="col-sm-6 mt-30px xs-mt-0" data-bottom-top="transform: translateY(50px)"
                        data-top-bottom="transform: translateY(-50px)"
                        data-anime='{ "el": "childs", "translateY": [0, 0], "perspective": [1200,1200], "scale": [1.1, 1], "rotateX": [50, 0], "opacity": [0,0.7], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <div
                            class="bg-white sm-w-50 border-radius-6px overflow-hidden box-shadow-double-large icon-with-text-style-05 transition-inner-all mb-30px">
                            <div class="feature-box hover-box dark-hover last-paragraph-no-margin">
                                <div class="content-slide-up content-scale pt-17 pb-17 ps-10 pe-10 sm-p-15">
                                    <div class="feature-box-icon">
                                        <i
                                            class="line-icon-Heart icon-extra-large text-base-color mb-20px justify-content-center"></i>
                                    </div>
                                    <div class="feature-box-content">
                                        <span class="d-inline-block alt-font text-dark-gray fs-20 fw-600">Personalized
                                            Care</span>
                                        <p class="lh-28 text-visible text-light-opacity w-80 mx-auto sm-w-100 alt-font">
                                            Customized treatment for your unique needs.</p>
                                    </div>
                                    <div class="feature-box-overlay bg-base-color"></div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="bg-white sm-w-50 border-radius-6px overflow-hidden box-shadow-double-large icon-with-text-style-05 transition-inner-all xs-mb-30px">
                            <div class="feature-box hover-box dark-hover last-paragraph-no-margin">
                                <div class="content-slide-up content-scale pt-17 pb-17 ps-10 pe-10 sm-p-15">
                                    <div class="feature-box-icon">
                                        <i
                                            class="line-icon-Doctor icon-extra-large text-base-color mb-20px justify-content-center"></i>
                                    </div>
                                    <div class="feature-box-content">
                                        <span class="d-inline-block alt-font text-dark-gray fs-20 fw-600">Expert
                                            Oncologists</span>
                                        <p class="lh-28 text-visible text-light-opacity w-80 mx-auto sm-w-100 alt-font">
                                            Specialized cancer care professionals.</p>
                                    </div>
                                    <div class="feature-box-overlay bg-base-color"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" data-bottom-top="transform: translateY(-50px)"
                        data-top-bottom="transform: translateY(50px)"
                        data-anime='{ "el": "childs", "translateY": [0, 0], "perspective": [1200,1200], "scale": [1.1, 1], "rotateX": [50, 0], "opacity": [0,0.7], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <div
                            class="bg-white border-radius-6px overflow-hidden box-shadow-double-large icon-with-text-style-05 transition-inner-all mb-30px">
                            <div class="feature-box hover-box dark-hover last-paragraph-no-margin">
                                <div class="content-slide-up content-scale pt-17 pb-17 ps-10 pe-10 sm-p-15">
                                    <div class="feature-box-icon">
                                        <i
                                            class="line-icon-Clock icon-extra-large text-base-color mb-20px justify-content-center"></i>
                                    </div>
                                    <div class="feature-box-content">
                                        <span class="d-inline-block alt-font text-dark-gray fs-20 fw-600">Daycare
                                            Setting</span>
                                        <p class="lh-28 text-visible text-light-opacity w-80 mx-auto sm-w-100 alt-font">
                                            Convenient same-day chemotherapy.
                                        </p>
                                    </div>
                                    <div class="feature-box-overlay bg-base-color"></div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="bg-white border-radius-6px overflow-hidden box-shadow-double-large icon-with-text-style-05 transition-inner-all mt-30px">
                            <div class="feature-box hover-box dark-hover last-paragraph-no-margin">
                                <div class="content-slide-up content-scale pt-17 pb-17 ps-10 pe-10 sm-p-15">
                                    <div class="feature-box-icon">
                                        <i
                                            class="line-icon-Smile icon-extra-large text-base-color mb-20px justify-content-center"></i>
                                    </div>
                                    <div class="feature-box-content">
                                        <span class="d-inline-block alt-font text-dark-gray fs-20 fw-600">Emotional
                                            Support</span>
                                        <p class="lh-28 text-visible text-light-opacity w-80 mx-auto sm-w-100 alt-font">
                                            Help for mental and emotional well-being.
                                        </p>
                                    </div>
                                    <div class="feature-box-overlay bg-base-color"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center text-lg-start sm-mt-70px"
                data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                <h3 class="fw-600 alt-font text-base-color shadow-none fs-50" data-shadow-animation="true"
                    data-animation-delay="1500">Why <span class="text-dark-gray">choose us?</span>
                </h3>
                <p class="fs-18 text-dark-gray fw-400">
                    Our center provides personalized care in a modern, comfortable environment with expert oncologists
                    and nurses specializing in chemotherapy. Our convenient daycare model minimizes disruption to daily
                    life, while emotional support services and advanced facilities ensure safe, high-quality treatment
                    tailored to your needs.
                </p>
                <a href="oncology-consultation"
                    class="btn btn-medium btn-switch-text btn-gradient-purple-pink btn-rounded me-10px ls-0px mt-15px">
                    <span>
                        <span class="btn-double-text fs-17 alt-font" data-text="Explore Treatments">Explore
                            Treatments</span>
                        <span><i class="fa-solid fa-stethoscope"></i></span>
                    </span>
                </a>
            </div>
        </div>
        <div class="row mt-5 sm-mt-30px"
            data-anime='{ "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 600, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <div class="col-12 text-center">
                <div
                    class="d-inline-block bg-purple fw-600 text-white text-uppercase border-radius-30px ps-20px pe-20px fs-12 me-10px sm-m-10px">
                    trust</div>
                <div class="d-inline-block align-middle"><span
                        class="fs-24 text-pink d-block fw-600 ls-minus-1px mb-0 ">"Believe in those who
                        walk with you; their strength becomes yours."</span></div>
            </div>
        </div>
    </div>
</section>
<!-- Why choose -->


<section class="pt-70px pb-70px position-relative" style="background:#FDEEF2">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 text-start"
                data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <div class="swiper slider-one-slide md-mb-50px sm-mb-40px text-slider-style-01"
                    data-slider-options='{ "slidesPerView": 1, "loop": true, "pagination": { "el": ".slider-one-slide-pagination", "clickable": true }, "autoplay": { "delay": 4000, "disableOnInteraction": false }, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "slide" }'>
                    <div class="swiper-wrapper mb-30px">
                        <div class="swiper-slide">
                            <h3 class="fw-600 alt-font text-base-color shadow-none fs-50" data-shadow-animation="true"
                                data-animation-delay="1500">Our <span class="text-dark-gray">Mission</span>
                            </h3>
                            <p class="fs-18 text-dark-gray fw-400">
                                To provide compassionate, high-quality chemotherapy care that prioritizes the physical,
                                emotional, and psychological well-being of cancer patients. We are committed to creating
                                a safe, personalized environment where patients receive expert treatment with dignity
                                and hope.
                            </p>
                        </div>
                        <div class="swiper-slide">
                            <h3 class="fw-600 alt-font text-base-color shadow-none fs-50" data-shadow-animation="true"
                                data-animation-delay="1500">Our <span class="text-dark-gray">Vision</span>
                            </h3>
                            <p class="fs-18 text-dark-gray fw-400">
                                To be a leading center for cancer care, renowned for excellence in chemotherapy and
                                patient-centered care. We aspire to empower cancer patients with innovative treatments,
                                empathetic support, and resources to thrive on their healing journey.
                            </p>
                        </div>
                        <div class="swiper-slide">
                            <h3 class="fw-600 alt-font text-base-color shadow-none fs-50" data-shadow-animation="true"
                                data-animation-delay="1500">Our <span class="text-dark-gray">Approach</span>
                            </h3>
                            <p class="fs-18 text-dark-gray fw-400">
                                We combine compassion, innovation, and personalized care to provide holistic support for
                                our patients. By focusing on their physical, emotional, and psychological well-being, we
                                ensure safe, advanced treatments in a supportive environment, empowering them with hope
                                and resilience.
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <div
                            class="slider-one-slide-prev-1 text-dark-gray swiper-button-prev slider-navigation-style-04 border border-1 border-color-extra-medium-gray bg-white">
                            <i class="fa-solid fa-arrow-left"></i>
                        </div>
                        <div
                            class="slider-one-slide-next-1 text-dark-gray swiper-button-next slider-navigation-style-04 border border-1 border-color-extra-medium-gray bg-white">
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 text-start">
                <div class="" data-animation-delay="100" data-bottom-top="transform: translateY(50px)"
                    data-top-bottom="transform: translateY(-50px)">
                    <img src="assets/images/home/vision.jpg" alt="" style="border-radius: 30% 0% 30% 0%;">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- vision and mission -->


<section id="treatment" class="pt-70px pb-70px position-relative" style="background-image: url(assets/images/treatment-bg.png);">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col tab-style-custom">
                <ul class="nav nav-tabs justify-content-center border-0 text-center fw-600 mb-4  alt-font">
                    <li class="nav-item">
                        <a class="nav-link active sm-p-20px" data-bs-toggle="tab" href="#tab_oncology"
                            style="--tab-color: #E6F8F8; --active-color: #0CB8B6; --icon-color: #0CB8B6;">
                            <i class="bi bi-person fs-60 mb-10px"></i>
                            <span class="fs-18 text-black primary-font fw-400 lh-20">Oncology Consultation</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sm-p-20px" data-bs-toggle="tab" href="#tab_chemotherapy"
                            style="--tab-color: #fdeef2; --active-color: #d40050; --icon-color: #d40050;">
                            <i class="bi bi-hospital fs-60 mb-10px"></i>
                            <span class="fs-18 text-black primary-font fw-400 lh-20">DayCare Chemotherapy</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sm-p-20px" data-bs-toggle="tab" href="#tab_targeted"
                            style="--tab-color: #eaf9eb; --active-color: #23a123; --icon-color: #23a123;">
                            <i class="bi bi-bullseye fs-60 mb-10px"></i>
                            <span class="fs-18 text-black primary-font fw-400 lh-20">Targeted Therapy</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sm-p-20px" data-bs-toggle="tab" href="#tab_immunotherapy"
                            style="--tab-color: #eaf1fb; --active-color: #007bff; --icon-color: #007bff;">
                            <i class="bi bi-shield-plus fs-60 mb-10px"></i>
                            <span class="fs-18 text-black primary-font fw-400 lh-20">Immunotherapy</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sm-p-20px" data-bs-toggle="tab" href="#tab_vaccination"
                            style="--tab-color: #fef5e6; --active-color: #ffae00; --icon-color: #ffae00;">
                            <i class="fa-solid fa-syringe fs-60 mb-10px"></i>
                            <span class="fs-18 text-black primary-font fw-400 lh-20">Cancer Vaccination</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab_oncology">
                        <div class="tab-pane fade in active show" id="tab_sec1">
                            <div class="row justify-content-center align-items-center ">
                                <div class="col-lg-6 col-md-6 animation-float sm-mb-50px text-center">
                                    <img src="assets/images/home/services/9.png" alt="Oncology Consultation"
                                        style="border-radius: 10% 30% 50% 70%;">
                                </div>
                                <div class="col-lg-6 col-md-6 text-center text-md-start">
                                    <h3 class="fw-600 alt-font text-base-color shadow-none fs-50"
                                        data-shadow-animation="true" data-animation-delay="1500">Oncology <span
                                            class="text-dark-gray">Consultation</span>
                                    </h3>
                                    <p class="fs-18 text-dark-gray fw-400">Oncology is the branch of medicine dedicated
                                        to
                                        diagnosing, treating, and preventing cancer. It encompasses a wide range of
                                        specialized care, from understanding cancer biology to delivering advanced
                                        treatments tailored to individual needs.
                                    </p>
                                    <p class="fs-18 text-dark-gray fw-400"> Our experienced oncologists provide in-depth
                                        consultations, focusing on accurate diagnosis and creating personalized
                                        treatment plans that align with your unique health requirements. With expertise
                                        in surgical, medical, and radiation oncology, we ensure comprehensive care for
                                        every stage of your journey.</p>
                                    <a href="oncology-consultation"
                                        class="btn btn-medium btn-switch-text btn-gradient-purple-pink btn-rounded me-10px ls-0px mt-15px">
                                        <span>
                                            <span class="btn-double-text fs-17 alt-font"
                                                data-text="Explore Treatments">Explore
                                                Treatments</span>
                                            <span><i class="fa-solid fa-stethoscope"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab_chemotherapy">
                        <div class="tab-pane fade in active show" id="tab_sec1">
                            <div class="row justify-content-center align-items-center text-center">
                                <div class="col-lg-6 col-md-6 animation-float sm-mb-50px">
                                    <img src="assets/images/home/services/10.png" alt="Oncology Consultation"
                                        style="border-radius: 10% 30% 50% 70%;">
                                </div>
                                <div class="col-lg-6 col-md-6 text-center text-md-start">
                                    <h3 class="fw-600 alt-font text-base-color shadow-none fs-50"
                                        data-shadow-animation="true" data-animation-delay="1500">Day Care <span
                                            class="text-dark-gray">Chemotherapy</span>
                                    </h3>
                                    <p class="fs-18 text-dark-gray fw-400">Day Care Chemotherapy provides effective
                                        cancer
                                        treatment in a convenient, same-day format. Patients receive personalized
                                        therapy in a comfortable environment and return home the same day.</p>
                                    <p class="fs-18 text-dark-gray fw-400">Administered by expert oncology specialists
                                        in
                                        state-of-the-art facilities, this approach ensures quality care, patient safety,
                                        and minimal disruption to daily life. Experience treatment tailored to your
                                        needs with comfort and efficiency.</p>
                                    <a href="daycarechemotherapy"
                                        class="btn btn-medium btn-switch-text btn-gradient-purple-pink btn-rounded me-10px ls-0px mt-15px">
                                        <span>
                                            <span class="btn-double-text fs-17 alt-font"
                                                data-text="Explore Treatments">Explore
                                                Treatments</span>
                                            <span><i class="fa-solid fa-stethoscope"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab_targeted">
                        <div class="tab-pane fade in active show" id="tab_sec1">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-lg-6 col-md-6 animation-float sm-mb-50px text-center">
                                    <img src="assets/images/home/services/11.png" alt="Oncology Consultation"
                                        style="border-radius: 10% 30% 50% 70%;">
                                </div>
                                <div class="col-lg-6 col-md-6 text-center text-md-start">
                                    <h3 class="fw-600 alt-font text-base-color shadow-none fs-50"
                                        data-shadow-animation="true" data-animation-delay="1500">Targeted <span
                                            class="text-dark-gray">Therapy</span>
                                    </h3>
                                    <p class="fs-18 text-dark-gray fw-400">
                                        Targeted therapy is a cutting-edge cancer treatment that focuses on specific
                                        molecules and pathways involved in cancer growth and progression.
                                    </p>
                                    <p class="fs-18 text-dark-gray fw-400">
                                        Targeted therapy is a advanced cancer treatment that uses biomarkers and genetic
                                        profiling to block tumor growth, starve tumors, or deliver drugs directly to
                                        cancer cells. With fewer side effects and greater precision, it offers an
                                        innovative, less invasive approach to cancer care.
                                    </p>
                                    <a href="targetedtherapy"
                                        class="btn btn-medium btn-switch-text btn-gradient-purple-pink btn-rounded me-10px ls-0px mt-15px">
                                        <span>
                                            <span class="btn-double-text fs-17 alt-font"
                                                data-text="Explore Treatments">Explore
                                                Treatments</span>
                                            <span><i class="fa-solid fa-stethoscope"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab_immunotherapy">
                        <div class="tab-pane fade in active show" id="tab_sec1">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-lg-6 col-md-6 animation-float sm-mb-50px text-center">
                                    <img src="assets/images/home/services/12.png" alt="Oncology Consultation"
                                        style="border-radius: 10% 30% 50% 70%;">
                                </div>
                                <div class="col-lg-6 col-md-6 text-center text-md-start">
                                    <h3 class="fw-600 alt-font text-base-color shadow-none fs-50"
                                        data-shadow-animation="true" data-animation-delay="1500">Immunotherapy
                                    </h3>
                                    <p class="fs-18 text-dark-gray fw-400">
                                        Immunotherapy harnesses the power of your immune system to fight cancer. This
                                        innovative treatment boosts your body's natural
                                        defenses to detect and destroy cancer cells effectively.
                                        Methods include intravenous infusions, targeted injections, and oral
                                        medications, tailored to each patient’s unique needs.
                                    </p>
                                    <p class="fs-18 text-dark-gray fw-400">
                                        Offering new hope and fewer side effects, immunotherapy represents a
                                        revolutionary step in personalized cancer care. Let our specialists guide you on
                                        this transformative journey.
                                    </p>
                                    <a href="immunotherapy"
                                        class="btn btn-medium btn-switch-text btn-gradient-purple-pink btn-rounded me-10px ls-0px mt-15px">
                                        <span>
                                            <span class="btn-double-text fs-17 alt-font"
                                                data-text="Explore Treatments">Explore
                                                Treatments</span>
                                            <span><i class="fa-solid fa-stethoscope"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab_vaccination">
                        <div class="tab-pane fade in active show" id="tab_sec1">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-md-6 animation-float sm-mb-50px text-center">
                                    <img src="assets/images/home/services/14.png" alt="Oncology Consultation"
                                        style="border-radius: 10% 30% 50% 70%;">
                                </div>
                                <div class="col-lg-5  col-md-6 text-center text-md-start">
                                    <h3 class="fw-600 alt-font text-base-color shadow-none fs-50"
                                        data-shadow-animation="true" data-animation-delay="1500">Cancer
                                        <span class="text-dark-gray">Vaccination</span>
                                    </h3>
                                    <p class="fs-18 text-dark-gray fw-400">Cancer vaccination is an innovative approach
                                        to
                                        preventing and treating certain types of cancer. Preventive vaccines, like the
                                        HPV and Hepatitis B vaccines, protect against viruses linked to cancer
                                        development. </p>
                                    <p class="fs-18 text-dark-gray fw-400">These vaccines stimulate your body's natural
                                        defenses, safely reducing cancer risks and enhancing treatment outcomes. Cancer
                                        vaccination is a significant step forward, combining prevention and therapy for
                                        a healthier future.</p>
                                    <a href="cancer-vaccination"
                                        class="btn btn-medium btn-switch-text btn-gradient-purple-pink btn-rounded me-10px ls-0px mt-15px">
                                        <span>
                                            <span class="btn-double-text fs-17 alt-font"
                                                data-text="Explore Treatments">Explore
                                                Treatments</span>
                                            <span><i class="fa-solid fa-stethoscope"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="pt-70px pb-70px position-relative" style="background:#FDEEF2">
    <div class="container">
        <h3 class="fw-600 alt-font text-base-color shadow-none fs-50 text-center mb-50px" data-shadow-animation="true"
            data-animation-delay="1500">Leading the Way in Personalized <span class="text-dark-gray">Cancer
                Treatment</span>
        </h3>
        <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 transition-inner-all justify-content-center"
            data-anime='{ "el": "childs", "translateY": [20, 0], "opacity": [0,1], "duration": 600, "delay": 300, "staggervalue": 300, "easing": "easeOutQuad" }'>
            <div class="col p-20px">
                <div class="services-box-style-01 hover-box">
                    <div class="position-relative box-image border-radius-own overflow-hidden">
                        <a href="cancerscreening">
                            <img src="assets/images/home/services/8.png" alt="">
                            <div class="box-overlay bg-gradient-blue-ironstone-brown"></div>
                            <span
                                class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-65px h-65px rounded-circle border border-color-transparent-white border-1"><i
                                    class="bi bi-arrow-right-short text-white icon-very-medium d-flex"></i></span>
                        </a>
                    </div>
                    <p class="p-10px mb-0 fs-22 fw-600 text-center text-black">
                       Cancer Screening
                    </p>
                </div>
            </div>
            <div class="col  p-20px">
                <div class="services-box-style-01 hover-box">
                    <div class="position-relative box-image border-radius-own overflow-hidden">
                        <a href="genetic-counselling">
                            <img src="assets/images/home/services/5.png" alt="">
                            <div class="box-overlay bg-gradient-blue-ironstone-brown"></div>
                            <span
                                class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-65px h-65px rounded-circle border border-color-transparent-white border-1"><i
                                    class="bi bi-arrow-right-short text-white icon-very-medium d-flex"></i></span>
                        </a>
                    </div>
                    <p class="p-10px mb-0 fs-22 fw-600 text-center text-black">
                        Genetic Counselling
                    </p>
                </div>
            </div>
            <div class="col p-20px">
                <div class="services-box-style-01 hover-box">
                    <div class="position-relative box-image border-radius-own overflow-hidden">
                        <a href="pain-and-palliative-care">
                            <img src="assets/images/home/services/6.png" alt="">
                            <div class="box-overlay bg-gradient-blue-ironstone-brown"></div>
                            <span
                                class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-65px h-65px rounded-circle border border-color-transparent-white border-1"><i
                                    class="bi bi-arrow-right-short text-white icon-very-medium d-flex"></i></span>
                        </a>
                    </div>
                    <p class="p-10px mb-0 fs-22 fw-600 text-center text-black">
                        Pain & Palliative care
                    </p>
                </div>
            </div>
            <div class="col p-20px">
                <div class="services-box-style-01 hover-box">
                    <div class="position-relative box-image border-radius-own overflow-hidden">
                        <a href="psycho-oncology-consultation">
                            <img src="assets/images/home/services/7.png" alt="">
                            <div class="box-overlay bg-gradient-blue-ironstone-brown"></div>
                            <span
                                class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-65px h-65px rounded-circle border border-color-transparent-white border-1"><i
                                    class="bi bi-arrow-right-short text-white icon-very-medium d-flex"></i></span>
                        </a>
                    </div>
                    <p class="p-10px sm-pb-0 mb-0 fs-22 fw-600 text-center text-black">
                        Psycho Oncology Consultation
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-cta></app-cta>