<app-pagebanner [pagetitle]="pagetitle"></app-pagebanner>
<section class="overlap-height position-relative">
    <div class="container overlap-gap-section">
        <div class="row">
            <div class="col-lg-4 pe-6 order-2 order-lg-1 lg-pe-4 md-pe-15px"
                data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <div class="position-sticky top-80px lg-top-40px">
                    <div class="mb-30px alt-font">
                        <ul class="p-0 m-0 list-style-02  fw-500">
                            <li class="pb-15px mb-15px"> <a href="#"
                                    class="btn btn-extra-large fw-600 btn-rounded with-rounded btn-white btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto">Immuno
                                    Theraphy<span class="bg-dark-gray text-white"><i
                                            class="fa-solid fa-arrow-right"></i></span></a></li>
                            <li class="pb-15px mb-15px"> <a href="#"
                                    class="btn btn-extra-large fw-600 btn-rounded with-rounded btn-white btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto">Targted
                                    Theraphy<span class="bg-dark-gray text-white"><i
                                            class="fa-solid fa-arrow-right"></i></span></a></li>
                            <li class="pb-15px mb-15px"> <a href="#"
                                    class="btn btn-extra-large fw-600 btn-rounded with-rounded btn-white btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto">Pain
                                    & Palliative care<span class="bg-dark-gray text-white"><i
                                            class="fa-solid fa-arrow-right"></i></span></a></li>
                            <li class="pb-15px mb-15px"> <a href="#"
                                    class="btn btn-extra-large fw-600 btn-rounded with-rounded btn-white btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto">Screening
                                    for Cancers <span class="bg-dark-gray text-white"><i
                                            class="fa-solid fa-arrow-right"></i></span></a></li>
                            <li class="pb-15px mb-15px"> <a href="#"
                                    class="btn btn-extra-large fw-600 btn-rounded with-rounded btn-white btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto">Psycho-oncology
                                    Consultation<span class="bg-dark-gray text-white"><i
                                            class="fa-solid fa-arrow-right"></i></span></a></li>
                            <li class="pb-15px mb-15px"> <a href="#"
                                    class="btn btn-extra-large fw-600 btn-rounded with-rounded btn-white btn-box-shadow d-table d-lg-inline-block lg-mb-15px md-mx-auto">Cancer
                                    Vaccination<span class="bg-dark-gray text-white"><i
                                            class="fa-solid fa-arrow-right"></i></span></a></li>
                        </ul>
                    </div>
                    <div
                        class="ps-14 pe-14 pt-10 pb-10 lg-p-25px bg-dark-gray border-radius-6px text-center text-lg-start">
                        <span class="fs-24 fw-500 text-white mb-10px d-inline-block">Open to Discover Hope</span>
                        <p class="text-white mb-15px alt-font fs-17">
                            Every page promises innovation, expert care, and unwavering support. Open to see how we’re
                            transforming cancer care.
                        </p>
                        <a href="assets/brochure.pdf" download
                            class="btn btn-extra-large btn-switch-text btn-gradient-purple-pink btn-rounded ls-0px mt-15px">
                            <span>
                                <span class="btn-double-text alt-font fs-17 align" data-text="Download">Download</span>
                                <span><i class="fa-solid fa-download"></i></span>
                            </span>
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-lg-8 order-1 order-lg-2 md-mb-50px"
                data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>

                <h3 class="fs-50 fw-600 text-dark-gray ls-minus-1px shadow-none" data-shadow-animation="true"
                    data-animation-delay="1500"><span class="text-highlight fw-800">Precision Chemotherapy for Smarter
                        Cancer Care<span
                            class="bg-gradient-emerald-blue-emerald-green h-8px bottom-10px opacity-6 separator-animation"></span></span>
                </h3>
                <p class="alt-font fs-17"> Targeted therapy is a cutting-edge cancer treatment designed to attack cancer
                    cells based on their unique genetic makeup or molecular targets. By focusing on the specific
                    characteristics of cancer cells, this therapy minimizes damage to healthy tissue and reduces side
                    effects, <strong class="text-dark-gray"> offering a more effective and personalized treatment
                        option. </strong></p>


                <p class="alt-font fs-17">By attacking cancer cells based on their unique molecular characteristics, it
                    provides more effective and personalized treatment, minimizing damage to healthy tissue and reducing
                    side effects,<strong class="text-dark-gray"> ultimately offering new possibilities for patients
                        seeking better cancer care.</strong> </p>


                <div class="mb-6 sm-mb-35px last-paragraph-no-margin">
                    <img src="assets/image/services/6.png" class="mb-20px" alt="">
                    <div class="px-3">
                        <p class="text-dark-gray alt-font fs-17 lh-30">
                            At our hospital, targeted therapy is tailored to each patient based on detailed genetic
                            testing of their cancer. Our team of specialists carefully selects the most effective
                            treatment based on the specific molecular characteristics of the cancer cells. This
                            personalized approach ensures the most precise and effective care, maximizing treatment
                            outcomes while minimizing side effects.
                        </p>
                    </div>
                    <div class="row mt-5 sm-mt-30px"
                        data-anime='{ "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 600, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <div class="col-12 text-center">
                            <div
                                class="d-inline-block bg-purple fw-600 text-white text-uppercase border-radius-30px ps-20px pe-20px fs-12 me-10px sm-m-10px">
                                trust</div>
                            <div class="d-inline-block align-middle"><span
                                    class="fs-24 text-pink d-block fw-600 ls-minus-1px mb-0 ">"Believe in those who
                                    walk with you; their strength becomes yours."</span></div>
                        </div>
                    </div>
                    <div class="h-1px w-100 bg-extra-medium-gray mt-4 mb-4"></div>
                </div>

                <div class="bg-light p-6 mt-6 mb-9 border-radius-6px">
                    <div class="row">
                        <div class="col-md-6 pe-5 lg-pe-15px mb-4">
                            <h5 class="text-dark-gray fw-600 mb-8">Benefits of Targeted therapy</h5>
                            <ul class="p-0 m-0 list-style-02 text-dark-gray alt-font fs-17">
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-check fs-15 me-10px"></i>
                                    Targets specific cancer cells, sparing healthy cells.
                                </li>
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-check fs-15 me-10px"></i>
                                    Causes fewer side effects than traditional chemotherapy.
                                </li>
                                <li class="pb-10px">
                                    <i class="fa-solid fa-check fs-15 me-10px"></i>
                                    Works well for cancers with known genetic mutations.
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h5 class="text-dark-gray fw-600 mb-8">Downsides of Targeted therapy</h5>
                            <ul class="p-0 m-0 list-style-02 text-dark-gray alt-font fs-17">
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-xmark fs-15 me-10px"></i>
                                    Cancer cells may develop resistance over time.
                                </li>
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-xmark fs-15 me-10px"></i>
                                    Not all cancers have identifiable genetic mutations or targets
                                </li>
                                <li class="pb-10px">
                                    <i class="fa-solid fa-xmark fs-15 me-10px"></i>
                                    Expensive and not all patients have access to the genetic testing
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <h3 class="fs-50 fw-600 text-dark-gray ls-minus-1px shadow-none" data-shadow-animation="true"
                        data-animation-delay="1500">Patient Eligiblity and Selection Criteria for <span
                            class="text-highlight fw-800"> Targeted therapy <span
                                class="bg-gradient-emerald-blue-emerald-green h-8px bottom-10px opacity-6 separator-animation"></span></span>
                    </h3>
                    <p class="alt-font fs-17"><span class="fw-600 text-dark-gray text-decoration-line-bottom">Genetic
                            Mutations and Biomarkers</span> - Patients whose tumors have specific genetic mutations or
                        express certain proteins may be candidates for targeted therapy. Identifying these biomarkers
                        involves tests to detect mutations like EGFR, HER2, or BRAF, which can be addressed with
                        specific
                        therapies.
                    </p>
                    <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px">
                    </div>
                    <p class="alt-font fs-17"><span class="fw-600 text-dark-gray text-decoration-line-bottom"> Type and
                            Stage of Cancer</span> - The effectiveness of targeted therapy varies with cancer type and
                        stage. Some treatments are approved for specific cancers, such as breast cancer, lung cancer, or
                        melanoma, and may be more effective at certain stages.</p>
                    <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px">
                    </div>
                    <p class="alt-font fs-17"><span class="fw-600 text-dark-gray text-decoration-line-bottom">Prior
                            Treatment History</span> - Patients who haven't responded to conventional treatments like
                        chemotherapy or radiation may consider targeted therapies, especially if their cancer has
                        actionable
                        genetic alterations.
                    </p>
                    <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px">
                    </div>
                    <p class="alt-font fs-17"><span
                            class="fw-600 text-dark-gray text-decoration-line-bottom">Availability
                            of Targeted Agents</span> -The presence of a specific targetable mutation must align with
                        the
                        availability of an approved targeted agent. In some cases, participation in clinical trials may
                        be
                        an option if no approved therapies exist for a particular target.</p>
                    <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px">
                    </div>
                    <p class="alt-font fs-17"><span class="fw-600 text-dark-gray text-decoration-line-bottom">Overall
                            Health
                            Status</span> -A patient's general health and organ function are crucial, as some targeted
                        therapies can have side effects impacting organs like the liver or heart.</p>
                </div>

                <div class="bg-light p-35px border-radius-6px mt-9">
                    <h3 class="fs-50 fw-600 text-dark-gray ls-minus-1px shadow-none" data-shadow-animation="true"
                        data-animation-delay="1500">Potential <span class="text-highlight fw-800">Side Effects<span
                                class="bg-gradient-emerald-blue-emerald-green h-8px bottom-10px opacity-6 separator-animation"></span></span>
                    </h3>
                    <div class="row align-items-center justify-content-center justify-content-lg-start">
                        <div class="row row-cols-1 row-cols-sm-3  alt-font fs-17">
                            <div class="col">
                                <ul class="p-0 m-0 list-style-02">
                                    <li class="pb-5px"><i class="fa-solid fa-plus fs-17 me-10px"></i>Skin Problems
                                    </li>
                                    <li class="pb-5px"><i class="fa-solid fa-plus fs-17 me-10px"></i>Diarrhea
                                    </li>
                                    <li class="pb-5px"><i class="fa-solid fa-plus fs-17 me-10px"></i>Fatigue</li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="p-0 m-0 list-style-02">

                                    <li class="pb-5px"><i class="fa-solid fa-plus fs-17 me-10px"></i>Liver Problems</li>
                                    <li class="pb-5px"><i class="fa-solid fa-plus fs-17 me-10px"></i> High Blood
                                        Pressure:
                                    </li>
                                    <li class="pb-5px"><i class="fa-solid fa-plus fs-17 me-10px"></i>Blood Clots</li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="p-0 m-0 list-style-02">
                                    <li class="pb-5px"><i class="fa-solid fa-plus fs-17 me-10px"></i>mouth sores</li>
                                    <li class="pb-5px"><i class="fa-solid fa-plus fs-17 me-10px"></i>Itching or rashes
                                    </li>
                                    <li class="pb-5px"><i class="fa-solid fa-plus fs-17 me-10px"></i>Hormonal Imbalances
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="overflow-hidden">
    <div class="container">
        <div class="row mb-7 justify-content-center">
            <div class="col-lg-4 md-mb-60px sm-mb-45px text-center text-lg-start"
                data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                <h3 class="fw-600 text-dark-gray ls-minus-1px shadow-none" data-shadow-animation="true"
                    data-animation-delay="1500"> Types of <span class="text-highlight fw-800">Targted therapy<span
                            class="bg-gradient-emerald-blue-emerald-green h-8px bottom-10px opacity-6 separator-animation"></span></span>
                </h3>
                <p class="xl-w-100 alt-font fs-17">Targeted cancer therapies are specialized treatments that focus on
                    specific molecules or pathways involved in cancer growth and progression. These therapies aim to
                    attack cancer cells while minimizing damage to normal cells</p>
                <p class="xl-w-100 alt-font fs-17">We’re Here for You !!<br>
                    Schedule your consultation today to explore which immunotherapy method is right for you.</p>
                <a href="#treatment-options"
                    class="btn btn-medium btn-switch-text btn-gradient-purple-pink btn-rounded me-10px ls-0px mt-15px mb-15px fs-17">
                    <span>
                        <span class="btn-double-text alt-font" data-text="Book Appointments">Book
                            Appointments</span>
                        <span><i class="fa-solid fa-stethoscope"></i></span>
                    </span>
                </a>
            </div>
            <div class="col-lg-8">
                <div class="row row-cols-1 row-cols-md-2 justify-content-center"
                    data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon">
                                <i class="fa-solid fa-dna icon-extra-large text-base-color"></i>

                            </div>
                            <div class="feature-box-content">
                                <span class="fs-20 fw-600 text-dark-gray d-block mb-5px">Hormone Therapies</span>
                                <p class="alt-font fs-17">Hormone therapies are designed to either block or lower the
                                    body’s natural hormones, which can promote the growth of certain cancers.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon">
                                <i class="fa-solid fa-network-wired icon-extra-large text-base-color"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fs-20 fw-600 text-dark-gray d-block mb-5px">Signal Transduction
                                    Inhibitors</span>
                                <p class="alt-font fs-17">
                                    This disrupt the pathways that cancer cells use to grow
                                    and divide. For ex, imatinib treats chronic myeloid leukemia by
                                    targeting the BCR-ABL protein.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 sm-mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon">
                                <i class="fa-solid fa-file-medical-alt icon-extra-large text-base-color"></i>

                            </div>
                            <div class="feature-box-content">
                                <span class="fs-20 fw-600 text-dark-gray d-block mb-5px">Gene Expression
                                    Modulators</span>
                                <p class="alt-font fs-17">These therapies alter the function of genes that are involved
                                    in cancer cell survival. Vorinostat, a histone deacetylase inhibitor, treats
                                    cutaneous T-cell lymphoma.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon">
                                <i class="fa-solid fa-skull-crossbones icon-extra-large text-base-color"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fs-20 fw-600 text-dark-gray d-block mb-5px">Apoptosis Inducers</span>
                                <p class="alt-font fs-17">It help trigger the natural process of cell death in cancer
                                    cells.For ex, Venetoclax treats chronic lymphocytic leukemia (CLL) by inhibiting the
                                    BCL-2 protein.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon">
                                <i class="fa-solid fa-hand-holding-water icon-extra-large text-base-color"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fs-20 fw-600 text-dark-gray d-block mb-5px">Angiogenesis Inhibitors</span>
                                <p class="alt-font fs-17">By blocking the formation of new blood vessels, angiogenesis
                                    inhibitors can starve tumors of the nutrients they need to grow. Bevacizumab
                                    (Avastin) is often used in the treatment of various cancers, including colorectal
                                    cancer

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon">
                                <i class="fa-solid fa-vial icon-extra-large text-base-color"></i>

                            </div>
                            <div class="feature-box-content">
                                <span class="fs-20 fw-600 text-dark-gray d-block mb-5px">Monoclonal Antibodies
                                </span>
                                <p class="alt-font fs-17">These are lab-made proteins that can bind to specific targets
                                    on cancer cells. Trastuzumab is a well-known monoclonal antibody used in
                                    treating HER2-positive breast cancer by specifically targeting the HER2 receptor</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>