<app-pagebanner [pagetitle]="pagetitle"></app-pagebanner>
<section class="pt-40px pb-40px sm-pb-0 position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-lg-8 order-1 order-lg-2 md-mb-50px" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <h3 class="fw-600 alt-font text-base-color shadow-none fs-50" data-shadow-animation="true" data-animation-delay="1500">Precision Chemotherapy for Smarter <span class="text-dark-gray">Cancer Care</span></h3>
                <p class="fs-18 text-dark-gray fw-400">
                    Targeted therapy is a cutting-edge cancer treatment designed to attack cancer cells based on their unique genetic makeup or molecular targets. By focusing on the specific characteristics of cancer cells, this therapy
                    minimizes damage to healthy tissue and reduces side effects, <strong class="text-dark-gray"> offering a more effective and personalized treatment option. </strong>
                </p>
                <p class="fs-18 text-dark-gray fw-400">
                    By attacking cancer cells based on their unique molecular characteristics, it provides more effective and personalized treatment, minimizing damage to healthy tissue and reducing side effects,
                    <strong class="text-dark-gray"> ultimately offering new possibilities for patients seeking better cancer care.</strong>
                </p>
                <img src="assets/images/services/6.png" class="mb-20px" alt="" />
                <p class="fs-18 text-dark-gray fw-400">
                    At our hospital, targeted therapy is tailored to each patient based on detailed genetic testing of their cancer. Our team of specialists carefully selects the most effective treatment based on the specific molecular
                    characteristics of the cancer cells. This personalized approach ensures the most precise and effective care, maximizing treatment outcomes while minimizing side effects.
                </p>
                <app-widget-service></app-widget-service>
                <div class="bg-light p-6 mt-6 mb-9 border-radius-6px">
                    <div class="row">
                        <div class="col-md-6 pe-5 lg-pe-15px mb-4">
                            <h5 class="text-dark-gray fw-600 mb-8 alt-font">Benefits of Targeted therapy</h5>
                            <ul class="p-0 m-0 list-style-02 text-dark-gray alt-font fs-18 primary-font">
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-check fs-15 me-10px text-base-color"></i>
                                    Targets specific cancer cells, sparing healthy cells.
                                </li>
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-check fs-15 me-10px text-base-color"></i>
                                    Causes fewer side effects than traditional chemotherapy.
                                </li>
                                <li class="pb-10px">
                                    <i class="fa-solid fa-check fs-15 me-10px text-base-color"></i>
                                    Works well for cancers with known genetic mutations.
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h5 class="text-dark-gray fw-600 mb-8 alt-font">Downsides of Targeted therapy</h5>
                            <ul class="p-0 m-0 list-style-02 text-dark-gray alt-font fs-18 primary-font">
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-xmark fs-15 me-10px text-base-color"></i>
                                    Cancer cells may develop resistance over time.
                                </li>
                                <li class="pb-10px mb-10px border-bottom border-color-extra-medium-gray">
                                    <i class="fa-solid fa-xmark fs-15 me-10px text-base-color"></i>
                                    Not all cancers have identifiable genetic mutations or targets
                                </li>
                                <li class="pb-10px">
                                    <i class="fa-solid fa-xmark fs-15 me-10px text-base-color"></i>
                                    Expensive and not all patients have access to the genetic testing
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <h3 class="fw-600 alt-font text-base-color shadow-none fs-50" data-shadow-animation="true" data-animation-delay="1500">
                        Patient Eligiblity and Selection Criteria for <span class="text-dark-gray"> Targeted therapy</span>
                    </h3>
                    <p class="fs-18 text-dark-gray fw-400">
                        <span class="fw-600 text-decoration-line-bottom"> Genetic Mutations and Biomarkers</span> - Patients whose tumors have specific genetic mutations or express certain proteins may be candidates for targeted therapy.
                        Identifying these biomarkers involves tests to detect mutations like EGFR, HER2, or BRAF, which can be addressed with specific therapies.
                    </p>
                    <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px"></div>
                    <p class="fs-18 text-dark-gray fw-400">
                        <span class="fw-600 text-decoration-line-bottom"> Type and Stage of Cancer</span> - The effectiveness of targeted therapy varies with cancer type and stage. Some treatments are approved for specific cancers, such as
                        breast cancer, lung cancer, or melanoma, and may be more effective at certain stages.
                    </p>
                    <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px"></div>
                    <p class="fs-18 text-dark-gray fw-400">
                        <span class="fw-600 text-decoration-line-bottom"> Prior Treatment History</span> - Patients who haven't responded to conventional treatments like chemotherapy or radiation may consider targeted therapies, especially
                        if their cancer has actionable genetic alterations.
                    </p>
                    <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px"></div>
                    <p class="fs-18 text-dark-gray fw-400">
                        <span class="fw-600 text-decoration-line-bottom"> Availability of Targeted Agents</span> -The presence of a specific targetable mutation must align with the availability of an approved targeted agent. In some cases,
                        participation in clinical trials may be an option if no approved therapies exist for a particular target.
                    </p>
                    <div class="divider-style-03 divider-style-03-01 border-color-extra-medium-gray mb-25px mt-25px"></div>
                    <p class="fs-18 text-dark-gray fw-400">
                        <span class="fw-600 text-decoration-line-bottom"> Overall Health Status</span> -A patient's general health and organ function are crucial, as some targeted therapies can have side effects impacting organs like the
                        liver or heart.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-40px pb-40px sm-pt-20px position-relative" style="background-image: url(assets/images/treatment-bg.png);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 md-mb-60px sm-mb-45px text-center text-lg-start" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                <h3 class="fw-600 alt-font text-base-color mt-15px shadow-none fs-50" data-shadow-animation="true" data-animation-delay="1500">Types of<span class="text-dark-gray"> Targted therapy</span></h3>
                <p class="fs-18 text-dark-gray fw-400">
                    Targeted cancer therapies are specialized treatments that focus on specific molecules or pathways involved in cancer growth and progression. These therapies aim to attack cancer cells while minimizing damage to normal
                    cells
                </p>
                <p class="fs-18 text-dark-gray fw-400">
                    We’re Here for You !!<br />
                    Schedule your consultation today to explore which immunotherapy method is right for you.
                </p>
                <a href="contact" class="btn btn-medium btn-switch-text btn-gradient-purple-pink btn-rounded me-10px ls-0px mt-15px mb-15px fs-17">
                    <span>
                        <span class="btn-double-text alt-font" data-text="Book Appointments">Book Appointments</span>
                        <span><i class="fa-solid fa-stethoscope"></i></span>
                    </span>
                </a>
            </div>
            <div class="col-lg-8">
                <div class="row row-cols-1 row-cols-md-2 justify-content-center" data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 100, "easing": "easeOutQuad" }'>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-dna icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-20 text-dark-gray d-block mb-5px">Hormone Therapies</span>
                                <p class="fs-18 text-gray fw-400 primary-font">Hormone therapies block the body's natural hormones, which promote the growth of certain cancers. These are used breast and prostate cancer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-network-wired icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-20 text-dark-gray d-block mb-5px">Signal Transduction Inhibitors </span>
                                <p class="fs-18 text-gray fw-400 primary-font">
                                    Signal transduction inhibitors disrupt cancer cell growth pathways, like imatinib targeting the BCR-ABL protein in chronic myeloid leukemia.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-file-medical-alt icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-20 text-dark-gray d-block mb-5px">Gene Expression Modulators</span>
                                <p class="fs-18 text-gray fw-400 primary-font">These therapies alter gene functions that are involved in cancer cell survival, such as Vorinostat for treating cutaneous T-cell lymphoma.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01 mb-6 xs-mb-30px">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-skull-crossbones icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-20 text-dark-gray d-block mb-5px">Apoptosis Inducers</span>
                                <p class="fs-18 text-gray fw-400 primary-font">Apoptosis inducers trigger natural cell death in cancer cells, like Venetoclax for chronic lymphocytic leukemia by inhibiting the BCL-2 protein.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-hand-holding-water icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-20 text-dark-gray d-block mb-5px">Angiogenesis Inhibitors </span>
                                <p class="fs-18 text-gray fw-400 primary-font">Angiogenesis inhibitors block the formation of new blood vessels, starving tumors of nutrients, such as Bevacizumab in colorectal cancer treatment.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col icon-with-text-style-01">
                        <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                            <div class="feature-box-icon align-content-center">
                                <i class="fa-solid fa-vial icon-extra-large text-base-color w-60px h-60px justify-content-center"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="fw-600 fs-20 text-dark-gray d-block mb-5px">Monoclonal Antibodies </span>
                                <p class="fs-18 text-gray fw-400 primary-font">Monoclonal antibodies are lab-made proteins that bind to cancer cells, like Trastuzumab for treating HER2-positive breast cancer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-cta></app-cta>
