<app-pagebanner [pagetitle]="pagetitle"></app-pagebanner>
<section class="pt-40px pb-40px position-relative">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-md-6 animation-float sm-mb-50px">
                <img src="https://dummyimage.com/1280x720/000/aaa" alt="Oncology Consultation" style="border-radius: 25% 10%;" />
            </div>
            <div class="col-lg-6 col-md-6 text-center text-md-start">
                <h3 class="fw-600 alt-font text-base-color shadow-none fs-50">Blood collection centre</h3>
                <p class="fs-18 text-dark-gray fw-400">
                    Our blood collection center provides safe, efficient, and patient-focused services tailored to the needs of cancer patients. With advanced equipment, highly trained staff, and strict hygiene protocols, we ensure accurate
                    sample collection and processing.
                </p>
                <p class="fs-18 text-dark-gray fw-400">
                    The facility offers a wide range of diagnostic blood tests, blood donation services, and seamless integration with the hospital’s oncology department for transfusions and care coordination. Designed for comfort and
                    accessibility, we prioritize patient well-being while supporting their treatment journey.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="pt-40px pb-40px position-relative" style="background-image: url(assets/images/treatment-bg.png);">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-md-6 text-center text-md-start">
                <h3 class="fw-600 alt-font text-base-color shadow-none fs-50">Pharmacy</h3>
                <p class="fs-18 text-dark-gray fw-400">
                    Our oncology pharmacy, located within the hospital premises, provides comprehensive medication support for cancer patients, ensuring convenient and timely access to specialized care. Offering chemotherapy drugs, targeted
                    therapies, and supportive medications, we prioritize precision and patient safety.
                </p>
                <p class="fs-18 text-dark-gray fw-400">
                    Our expert pharmacists provide personalized counseling, prepare medications under sterile conditions, and ensure proper storage. Integrated with the oncology department, the pharmacy delivers treatments efficiently,
                    including nutritional supplements and pain management, all conveniently located within the hospital for easy access.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 animation-float sm-mb-50px">
                <img src="https://dummyimage.com/1280x720/000/aaa" alt="Oncology Consultation" style="border-radius: 25% 10%;" />
            </div>
        </div>
    </div>
</section>
<section class="pt-40px pb-40px position-relative">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-md-6 animation-float sm-mb-50px">
                <img src="https://dummyimage.com/1280x720/000/aaa" alt="Oncology Consultation" style="border-radius: 25% 10%;" />
            </div>
            <div class="col-lg-6 col-md-6 text-center text-md-start">
                <h3 class="fw-600 alt-font text-base-color shadow-none fs-50">Day care services</h3>
                <p class="fs-18 text-dark-gray fw-400">
                    Day Care Service offers safe administration of chemotherapy, immunotherapy, and other infusions, with expert supervision in a relaxing setting featuring recliner chairs and private cubicles. Our team of oncologists,
                    nurses, and support staff provides compassionate care and closely monitors patients during treatments.
                </p>
                <p class="fs-18 text-dark-gray fw-400">
                    With flexible scheduling and same-day discharge options, we minimize hospital stays and waiting times, making it easier for patients to receive high-quality care with minimal disruption to their daily lives.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="pt-40px pb-40px position-relative" style="background-image: url(assets/images/treatment-bg.png);">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-md-6 text-center text-md-start">
                <h3 class="fw-600 alt-font text-base-color shadow-none fs-50">Hereditary Cancer screening</h3>
                <p class="fs-18 text-dark-gray fw-400">
                    Our hereditary cancer screening center offers advanced genetic testing and counseling to identify and manage inherited cancer risks. We provide personalized risk assessments, preventive care planning, and expert guidance
                    to help patients and families understand and address their cancer risk.
                </p>
                <p class="fs-18 text-dark-gray fw-400">
                    With state-of-the-art genomic tools and seamless integration with the hospital’s oncology team, our center ensures early detection, tailored interventions, and comprehensive support, empowering proactive health
                    management in a convenient, accessible location.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 animation-float sm-mb-50px">
                <img src="https://dummyimage.com/1280x720/000/aaa" alt="Oncology Consultation" style="border-radius: 25% 10%;" />
            </div>
        </div>
    </div>
</section>
<section class="pt-40px pb-40px position-relative">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 col-md-6 animation-float sm-mb-50px">
                <img src="https://dummyimage.com/1280x720/000/aaa" alt="Oncology Consultation" style="border-radius: 25% 10%;" />
            </div>
            <div class="col-lg-6 col-md-6 text-center text-md-start">
                <h3 class="fw-600 alt-font text-base-color shadow-none fs-50">Genetic counselling</h3>
                <p class="fs-18 text-dark-gray fw-400">
                    Our genetic counseling services provide expert guidance to help patients understand hereditary cancer risks and make informed health decisions. Through personalized risk assessments based on family history and genetics,
                    we offer counseling on genetic tests, their implications, and their role in cancer prevention and treatment.
                </p>
                <p class="fs-18 text-dark-gray fw-400">
                    We provide clear interpretations of test results, along with preventive strategies like early detection and lifestyle recommendations to reduce cancer risk. Our services also support family members in understanding
                    genetic risks and testing options, all in a confidential and compassionate environment.
                </p>
            </div>
        </div>
    </div>
</section>
<app-cta></app-cta>
