<app-pagebanner [pagetitle]="pagetitle"></app-pagebanner>
<section class="pt-40px pb-40px bg-very-light-gray position-relative">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10"
                data-anime='{ "translateX": [0, 0], "opacity": [0,1], "duration": 600, "delay":150, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <div class="accordion accordion-style-02" id="accordion-style-01" data-active-icon="icon-feather-minus"
                    data-inactive-icon="icon-feather-plus">
                    <div class="accordion-item">
                        <div class="border border-radius-20px p-20px mt-10px accordion-header bg-light">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-01-01"
                                 data-bs-parent="#accordion-style-01">
                                <div class="accordion-title mb-0 position-relative text-dark-gray">
                                    <i class="feather icon-feather-minus"></i><span
                                        class="fw-600 alt-font text-base-color shadow-none fs-30">How to prevent
                                        cancer?</span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-01-01"
                            class="accordion-collapse collapse show border mt-20px border-radius-20px"
                            data-bs-parent="#accordion-style-01">
                            <div class="p-20px accordion-body last-paragraph-no-margin">
                                <p class="fs-18 text-dark-gray fw-400">Cancer Prevention Methods</p>
                                <ul class="p-20px list-style-01 fs-18 fw-500 mb-40px">
                                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                        <strong>1. Avoid Tobacco and Limit Alcohol:</strong>
                                        <ul class="p-0 list-style-01 fw-500">
                                            <li
                                                class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                                Avoid smoking and the use of tobacco products.</li>
                                            <li
                                                class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                                Limit alcohol consumption.</li>
                                        </ul>
                                    </li>
                                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                        <strong>2. Healthy Diet:</strong>
                                        <ul class="p-0 list-style-01 fw-500">
                                            <li
                                                class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                                Eat plenty of fruits, vegetables, and whole grains.</li>
                                            <li
                                                class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                                Avoid high-fat and high-sugar foods.</li>
                                        </ul>
                                    </li>
                                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                        <strong>3. Regular Physical Activity:</strong>
                                        <ul class="p-0 list-style-01 fw-500">
                                            <li
                                                class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                                Engage in at least 30 minutes of physical activity daily.</li>
                                            <li
                                                class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                                Maintain a healthy weight.</li>
                                        </ul>
                                    </li>
                                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                        <strong>4. Sun Protection:</strong>
                                        <ul class="p-0 list-style-01 fw-500">
                                            <li
                                                class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                                Protect yourself from excessive UV radiation.</li>
                                            <li
                                                class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                                Take precautions like using sunscreen, wearing hats, and wearing
                                                protective clothing when in the sun.</li>
                                        </ul>
                                    </li>
                                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                        <strong>5. Prevent Infections:</strong>
                                        <ul class="p-0 list-style-01 fw-500">
                                            <li
                                                class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                                Get vaccinated against hepatitis B and human papillomavirus (HPV).</li>
                                        </ul>
                                    </li>
                                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                        <strong>6. Medical Screenings:</strong>
                                        <ul class="p-0 list-style-01 fw-500">
                                            <li
                                                class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                                Regularly undergo health check-ups and medical screenings as
                                                recommended.</li>
                                        </ul>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="border border-radius-20px p-20px mt-10px accordion-header bg-light">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-01-02"
                                aria-expanded="false" data-bs-parent="#accordion-style-01">
                                <div class="accordion-title mb-0 position-relative text-dark-gray">
                                    <i class="feather icon-feather-plus"></i><span
                                        class="fw-600 alt-font text-base-color shadow-none fs-30">How to detect cancer
                                        in early stages?
                                    </span>
                                </div>
                            </a>
                        </div>

                        <div id="accordion-style-01-02"
                            class="accordion-collapse collapse border mt-20px border-radius-20px"
                            data-bs-parent="#accordion-style-01">
                            <div class="p-20px accordion-body last-paragraph-no-margin">
                                <p class="fs-18 text-dark-gray fw-400">Early Detection of Cancer</p>
                                <ul class="p-20px list-style-01 fs-18 fw-500 mb-40px">
                                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                        <strong>1.Breast Cancer:</strong>
                                        <ul class="p-0 list-style-01 fw-500">
                                            <li
                                                class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                                Self-Exams: Perform monthly breast self-examinations.</li>
                                            <li
                                                class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                                Mammograms: Women in recommended age groups should undergo regular
                                                mammograms.</li>
                                        </ul>
                                    </li>
                                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                        <strong>2. Cervical Cancer:</strong>
                                        <ul class="p-0 list-style-01 fw-500">
                                            <li
                                                class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                                Pap Smear: Women should have regular Pap smear tests.</li>
                                            <li
                                                class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                                HPV Testing: Undergo HPV testing as recommended.</li>
                                        </ul>
                                    </li>
                                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                        <strong>3. Lung Cancer:</strong>
                                        <ul class="p-0 list-style-01 fw-500">
                                            <li
                                                class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                                Low-Dose CT Scan: Recommended for smokers and those with a history of
                                                smoking.</li>
                                        </ul>
                                    </li>
                                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                        <strong>4. Colorectal Cancer:</strong>
                                        <ul class="p-0 list-style-01 fw-500">
                                            <li
                                                class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                                Colonoscopy: Recommended for people in certain age groups and those with
                                                a family history of colorectal cancer.</li>
                                        </ul>
                                    </li>
                                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                        <strong>5. Oral Cancer:</strong>
                                        <ul class="p-0 list-style-01 fw-500">
                                            <li
                                                class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                                Oral Exams: Regular oral examinations by a dentist or doctor.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="border border-radius-20px p-20px mt-10px accordion-header bg-light">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-01-03"
                                aria-expanded="false" data-bs-parent="#accordion-style-01">
                                <div class="accordion-title mb-0 position-relative text-dark-gray">
                                    <i class="feather icon-feather-plus"></i><span
                                        class="fw-600 alt-font text-base-color shadow-none fs-30">What are the common
                                        symptoms of cancer?</span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-01-03"
                            class="accordion-collapse collapse border mt-20px border-radius-20px"
                            data-bs-parent="#accordion-style-01">
                            <div class="p-20px accordion-body last-paragraph-no-margin">
                                <ul class="p-0 list-style-01 fs-18 fw-500 mb-40px">
                                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                        Unusual lumps, bumps, or sores that don’t heal.</li>
                                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                        Persistent bleeding or unexplained discharges.</li>
                                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                        Sudden weight loss.</li>
                                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                        Difficulty swallowing or persistent indigestion.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="border border-radius-20px p-20px mt-10px accordion-header bg-light">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-01-04"
                                aria-expanded="false" data-bs-parent="#accordion-style-01">
                                <div class="accordion-title mb-0 position-relative text-dark-gray">
                                    <i class="feather icon-feather-plus"></i><span
                                        class="fw-600 alt-font text-base-color shadow-none fs-30">When to have Medical
                                        Consultation for cancer?</span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-01-04"
                            class="accordion-collapse collapse border mt-20px border-radius-20px"
                            data-bs-parent="#accordion-style-01">
                            <div class="p-20px accordion-body last-paragraph-no-margin">
                                <ul class="p-0 list-style-01 fs-18 fw-500 mb-40px">
                                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">Seek
                                        medical advice promptly if you notice any unusual symptoms.</li>
                                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">Do
                                        not skip recommended medical check-ups and screenings.</li>
                                </ul>
                                <p class="fs-18 text-dark-gray fw-400">Proactive health screenings and maintaining a
                                    healthy lifestyle can significantly reduce the risk of developing cancer and improve
                                    the chances of early detection.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="border border-radius-20px p-20px mt-10px accordion-header bg-light">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-01-05"
                                aria-expanded="false" data-bs-parent="#accordion-style-01">
                                <div class="accordion-title mb-0 position-relative text-dark-gray">
                                    <i class="feather icon-feather-plus"></i><span
                                        class="fw-600 alt-font text-base-color shadow-none fs-30">Can all cancers be
                                        hereditary?
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-01-05"
                            class="accordion-collapse collapse border mt-20px border-radius-20px"
                            data-bs-parent="#accordion-style-01">
                            <div class="p-20px accordion-body last-paragraph-no-margin">
                                <p class="fs-18 text-dark-gray fw-400">Not all cancers are hereditary. Some types of
                                    cancer are inherited, meaning they are caused by genetic mutations (changes in
                                    genes) passed down through families. Some examples include:</p>
                                <ul class="p-20px list-style-01 fs-18 fw-500 mb-40px">
                                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                        <strong>Breast and Ovarian Cancer:</strong>
                                        <ul class="p-0 list-style-01 fw-500">
                                            <li
                                                class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                                Mutations in genes like BRCA1 and BRCA2.</li>
                                        </ul>
                                    </li>
                                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                        <strong>Colorectal Cancer:</strong>
                                        <ul class="p-0 list-style-01 fw-500">
                                            <li
                                                class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                                Lynch Syndrome and Familial Adenomatous Polyposis (FAP) are common
                                                inherited causes.</li>
                                        </ul>
                                    </li>
                                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                        <strong>Prostate Cancer:</strong>
                                        <ul class="p-0 list-style-01 fw-500">
                                            <li
                                                class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                                Certain gene mutations passed down in families may increase the risk.
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                        <strong>Retinoblastoma:</strong>
                                        <ul class="p-0 list-style-01 fw-500">
                                            <li
                                                class="border-color-transparent-dark-light pt-10px pb-10px text-dark-gray">
                                                A rare eye cancer in children, often inherited.</li>
                                        </ul>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="border border-radius-20px p-20px mt-10px accordion-header bg-light">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-01-06"
                                aria-expanded="false" data-bs-parent="#accordion-style-01">
                                <div class="accordion-title mb-0 position-relative text-dark-gray">
                                    <i class="feather icon-feather-plus"></i><span
                                        class="fw-600 alt-font text-base-color shadow-none fs-30">Can cancer be
                                        cured?</span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-01-06"
                            class="accordion-collapse collapse border mt-20px border-radius-20px"
                            data-bs-parent="#accordion-style-01">
                            <div class="p-20px accordion-body last-paragraph-no-margin">
                                <p class="fs-18 text-dark-gray fw-400 mb-10px">Cancer cure depends on various factors including the type of cancer, its stage, and
                                    how it responds to treatment. Advanced age and co-existent comorbid illnesses like
                                    diabetes, heart/ kidney/ liver problems may limit treatment outcomes. While some
                                    cancers can be cured, some may be managed as a chronic condition. </p>
                                <p class="fs-18 text-dark-gray fw-400">Treatment options
                                    include surgery, radiation, chemotherapy, targeted therapy, immunotherapy, and
                                    hormone therapy. Early detection and personalized treatment plans can improve
                                    outcomes.</p>
                            </div>
                        </div>
                        <!-- <div id="accordion-style-01-06"
                            class="accordion-collapse collapse border mt-20px border-radius-20px"
                            data-bs-parent="#accordion-style-01">
                            <div class="p-20px accordion-body last-paragraph-no-margin">
                                <p>Cancer cure depends on various factors including the type of cancer, its stage, and
                                    how it responds to treatment. Advanced age and co-existent comorbid illnesses like
                                    diabetes, heart/ kidney/ liver problems may limit treatment outcomes. While some
                                    cancers can be cured, some may be managed as a chronic condition. Treatment options
                                    include surgery, radiation, chemotherapy, targeted therapy, immunotherapy, and
                                    hormone therapy. Early detection and personalized treatment plans can improve
                                    outcomes.</p>
                            </div>
                        </div> -->
                    </div>

                    <div class="accordion-item">
                        <div class="border border-radius-20px p-20px mt-10px accordion-header bg-light">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-01-07"
                                aria-expanded="false" data-bs-parent="#accordion-style-01">
                                <div class="accordion-title mb-0 position-relative text-dark-gray">
                                    <i class="feather icon-feather-plus"></i><span
                                        class="fw-600 alt-font text-base-color shadow-none fs-30">Does Chemotherapy have
                                        side effects?
                                    </span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-01-07"
                            class="accordion-collapse collapse border mt-20px border-radius-20px"
                            data-bs-parent="#accordion-style-01">
                            <div class="p-20px accordion-body last-paragraph-no-margin">
                                <p class="fs-18 text-dark-gray fw-400 mb-10px">Yes, chemotherapy can have several side effects,
                                    which can vary depending on the type and dosage of chemotherapy drugs, as well as
                                    individual factors such as overall health and tolerance to treatment. </p>
                                <p class="fs-18 text-dark-gray fw-400">It’s important to note that not everyone will
                                    experience all of these side effects, and some people may have different or
                                    additional side effects. Additionally, advancements in chemotherapy drugs and
                                    supportive care have helped in managing and reducing the severity of these side
                                    effects. Patients undergoing chemotherapy should discuss potential side effects with
                                    their healthcare team and seek support to manage any symptoms that arise during
                                    treatment.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-cta></app-cta>